@*@page "/personel/derskayit"
    @page "/Akademisyen/derskayit"*@
@page "/Ogrenci/derskayit"

@using UniLife.Shared.Dto.Definitions
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject AppState appState
@using Syncfusion.Blazor.Navigations
@using UniLife.CommonUI.Pages.Admin.OgrenciIslem.OgrenciIslemTabs.DersKayitTabs
@inject HttpClient Http;
@using Syncfusion.Blazor.DropDowns;
@using Syncfusion.Blazor.Buttons

@*<Divider />
    <b class="hr anim" style="padding-top: 10px;padding-bottom: 10px;"></b>*@


@if (_OgrenciDto == null || _OgrenciDto.Id==0)
{

    <LoadingBackground ShowLogoBox="true">
        <label>Ders Kayıt Yükleniyor...</label>
    </LoadingBackground>
}
else
{
    <div class="row">
        <div class="col-sm-12 text-center">
            @foreach (var item in donemDtos)
            {
                <SfRadioButton Label="@item.Ad" Name="donemRadio" Value="@item.Id.ToString()" ValueChange="@OnDonemChange" TChecked="string" @bind-Checked="@(seciliDonemId)"></SfRadioButton>
            }
        </div>
    </div>
    <br />
    <div class="card">

        <SfTab @ref="Tab" HeaderPlacement="HeaderPosition.Left" SelectedItem="@selectedItem" LoadOn="ContentLoad.Demand">
            <TabEvents Selecting="OnTabSelecting"></TabEvents>
            <TabItems>
                @if (ogrenciProgramSure >= 1)
                {
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="1. Sınıf"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            @if (IsChecked)
                            {
                                <SinifGrid Sinif="1"></SinifGrid>
                            }
                            else
                            {
                                <SinifGrid Sinif="1"></SinifGrid>
                            }
                        </ContentTemplate>
                    </TabItem>
                }
                @if (ogrenciProgramSure >= 2)
                {
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="2. Sınıf"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            @if (IsChecked)
                            {
                                <SinifGrid Sinif="2"></SinifGrid>
                            }
                            else
                            {
                                <SinifGrid Sinif="2"></SinifGrid>
                            }

                        </ContentTemplate>
                    </TabItem>
                }
                @if (ogrenciProgramSure >= 3)
                {
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="3. Sınıf"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>

                            @if (IsChecked)
                            {
                                <SinifGrid Sinif="3"></SinifGrid>
                            }
                            else
                            {
                                <SinifGrid Sinif="3"></SinifGrid>
                            }
                        </ContentTemplate>
                    </TabItem>
                }
                @if (ogrenciProgramSure >= 4)
                {
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="4. Sınıf"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>

                            @if (IsChecked)
                            {
                                <SinifGrid Sinif="4"></SinifGrid>
                            }
                            else
                            {
                                <SinifGrid Sinif="4"></SinifGrid>
                            }
                        </ContentTemplate>
                    </TabItem>
                }
                @if (ogrenciProgramSure >= 5)
                {
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="5. Sınıf"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>

                            @if (IsChecked)
                            {
                                <SinifGrid Sinif="5"></SinifGrid>
                            }
                            else
                            {
                                <SinifGrid Sinif="5"></SinifGrid>
                            }
                        </ContentTemplate>
                    </TabItem>
                }
                @if (ogrenciProgramSure >= 6)
                {
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="6. Sınıf"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>

                            @if (IsChecked)
                            {
                                <SinifGrid Sinif="6"></SinifGrid>
                            }
                            else
                            {
                                <SinifGrid Sinif="6"></SinifGrid>
                            }
                        </ContentTemplate>
                    </TabItem>
                }
                @if (ogrenciProgramSure >= 7)
                {
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="7. Sınıf"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>

                            @if (IsChecked)
                            {
                                <SinifGrid Sinif="7"></SinifGrid>
                            }
                            else
                            {
                                <SinifGrid Sinif="7"></SinifGrid>
                            }
                        </ContentTemplate>
                    </TabItem>
                }
                @if (ogrenciProgramSure >= 8)
                {
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="8. Sınıf"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>

                            @if (IsChecked)
                            {
                                <SinifGrid Sinif="8"></SinifGrid>
                            }
                            else
                            {
                                <SinifGrid Sinif="8"></SinifGrid>
                            }
                        </ContentTemplate>
                    </TabItem>
                }
                @if (ogrenciProgramSure >= 9)
                {
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="9. Sınıf"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>

                            @if (IsChecked)
                            {
                                <SinifGrid Sinif="9"></SinifGrid>
                            }
                            else
                            {
                                <SinifGrid Sinif="9"></SinifGrid>
                            }
                        </ContentTemplate>
                    </TabItem>
                }


            </TabItems>
        </SfTab>
    </div>
}





@code{
    string seciliDonemId = "";

    public bool IsChecked { get; set; } = true;

    List<DonemDto> donemDtos = new List<DonemDto>();
    //SfRadioButton<string> donemRadio = new SfRadioButton<string>();


    [Parameter]
    public OgrenciDto _OgrenciDto { get; set; }

    int ogrenciProgramSure;
    List<DersAcilanDto> ListDersAcilan = new List<DersAcilanDto>();
    List<DersAcilanDto> DersKayitDtos = new List<DersAcilanDto>();


    SfTab Tab;
    public string PreviousEffect { get; set; }
    public string NextEffect { get; set; }

    //protected override async Task OnInitializedAsync()
    //{
    //    _OgrenciDto = appState.OgrenciState;
    //    await GetMufredatAcilanDerss();
    //    await SetOgrenciProgramSure();
    //}

    //protected override void OnInitialized()
    protected override async Task OnInitializedAsync()
    {
        if (_OgrenciDto == null)
        {
            _OgrenciDto = await appState.GetOgrenciState();
        }

        GetDonems();
        seciliDonemId = donemDtos.FirstOrDefault(x => x.Durum == true).Id.ToString();
        //GetAcilanDerssByMufredat();
        SetOgrenciProgramSure();
        SetMufredatAd();

    }

    void GetDonems()
    {
        ApiResponseDto<List<DonemDto>> apiResponse = Http.GetFromJsonAsync<ApiResponseDto<List<DonemDto>>>("api/donem/current").Result;
        donemDtos = apiResponse.Result;

        appState.DersKayitDonemIdState = donemDtos.FirstOrDefault(x => x.Durum).Id;
    }


    int selectedItem;

    private void OnDonemChange(Syncfusion.Blazor.Buttons.ChangeArgs<string> args)
    {
        IsChecked = !IsChecked;
        appState.DersKayitDonemIdState = Convert.ToInt32(seciliDonemId);//await donemRadio.GetSelectedValue());
    }

    //public async void onDonemChange()
    //{
    //    IsChecked = !IsChecked;
    //    appState.DersKayitDonemIdState = Convert.ToInt32(seciliDonemId);//await donemRadio.GetSelectedValue());
    //    //this.NextEffect = "FadeZoomIn";
    //    //Tab.Refresh();
    //    //if (Tab.SelectedItem == 0)
    //    //{
    //    //    await Tab.Select(Tab.SelectedItem + 1);
    //    //    await Tab.Select(Tab.SelectedItem - 1);
    //    //}
    //    //else
    //    //{
    //    //    await Tab.Select(Tab.SelectedItem - 1);
    //    //    await Tab.Select(Tab.SelectedItem + 1);
    //    //}

    //    //this.NextEffect = "SlideRightIn";
    //}



    void AcilanDersleriYenile()
    {

    }


    //void GetAcilanDerssByMufredat()
    //{
    //    ApiResponseDto<List<DersAcilanDto>> apiResponse = Http.GetFromJsonAsync<ApiResponseDto<List<DersAcilanDto>>>($"api/dersacilan/GetAcilanDersByMufredatId/{_OgrenciDto.MufredatId}").Result;
    //    ListDersAcilan = apiResponse.Result;

    //    ApiResponseDto<List<DersAcilanDto>> apiResponseKayitli = Http.GetFromJsonAsync<ApiResponseDto<List<DersAcilanDto>>>($"api/dersAcilan/GetKayitliDerssByOgrenciIdDonemId/{_OgrenciDto.Id}/{appState.DersKayitDonemIdState}").Result;
    //    DersKayitDtos = apiResponseKayitli.Result;
    //}

    void SetOgrenciProgramSure()
    {
        ApiResponseDto<ProgramDto> apiResponse = Http.GetFromJsonAsync<ApiResponseDto<ProgramDto>>($"api/program/{_OgrenciDto.ProgramId}").Result;
        ogrenciProgramSure = apiResponse.Result.NormalSure;
    }

    void SetMufredatAd()
    {
        ApiResponseDto<MufredatDto> apiResponse = Http.GetFromJsonAsync<ApiResponseDto<MufredatDto>>($"api/mufredat/{_OgrenciDto.MufredatId}").Result;
        _OgrenciDto.MufredatAdi = apiResponse.Result.Ad;
    }


    //async Task GetMufredatAcilanDerss()
    //{
    //    ApiResponseDto<List<DersAcilanDto>> apiResponse = await Http.GetFromJsonAsync<ApiResponseDto<List<DersAcilanDto>>>($"api/dersacilan/GetAcilanDersByMufredatId/{_OgrenciDto.MufredatId}");
    //    ListDersAcilan = apiResponse.Result;
    //}

    //async Task SetOgrenciProgramSure()
    //{
    //    ApiResponseDto<ProgramDto> apiResponse = await Http.GetFromJsonAsync<ApiResponseDto<ProgramDto>>($"api/program/{_OgrenciDto.ProgramId}");
    //    ogrenciProgramSure = apiResponse.Result.NormalSure;
    //}

    public void OnTabSelecting(SelectingEventArgs args)
    {
        if (args.IsSwiped)
        {
            args.Cancel = true;
        }
    }
}



<style type="text/css" class="cssStyles">
    .detailtable td {
        font-size: 13px;
        padding: 4px;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .photo {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0,0,0,0.2);
    }

    .table td, .table th {
        padding-top: 10px;
        padding-bottom: 0px;
    }
</style>
