@using UniLife.Shared.Dto.Definitions
@using UniLife.Shared.DataModels
@using Syncfusion.Blazor.DropDowns;
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@using Syncfusion.Blazor.Navigations



<div class="card">
    <div class="table-responsive">
        <table class="table">
            <colgroup>
                <col width="25%">
                <col width="45%">
                <col width="30%">
            </colgroup>
            <tbody>
                <tr>
                    <td rowspan="4" style="text-align: center;">
                        <img class="photo" src="@UriHelper.ToAbsoluteUri($"/_content/UniLife.CommonUI/images/ogrenci/{_OgrenciDto.ApplicationUserId.ToString()}.png")" alt="@_OgrenciDto.Id" />
                    </td>
                    <td>
                        <span style="font-weight: 500;">Ad Soyad: </span> @_OgrenciDto.Ad @_OgrenciDto.Soyad
                    </td>
                    <td>
                        <span style="font-weight: 500;">Gereken Toplam Ücret: </span> @_OgrenciDto.GerekenTopUcret
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-weight: 500;">Kayıt Tarih: </span> @(_OgrenciDto.KayitTarih==null?"":_OgrenciDto.KayitTarih.Value.ToShortDateString())
                    </td>
                    <td>
                        <span style="font-weight: 500;">Ödenen Toplam Ücret: </span> @_OgrenciDto.OdenenTopUcret
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-weight: 500;">Bağlı Müfredat: </span> @_OgrenciDto.MufredatAdi
                    </td>
                    <td>
                        <span style="font-weight: 500;">Genel Bakiye: </span> @_OgrenciDto.GenelBakiye
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <SfTab @ref="Tab" HeaderPlacement="HeaderPosition.Left" SelectedItem="@selectedItem" LoadOn="ContentLoad.Demand">
        <TabEvents Selecting="OnTabSelecting"></TabEvents>
        <TabItems>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Geçiş Bilgileri"></TabHeader>
                </ChildContent>
                <ContentTemplate>

                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Kayıt Dondurma"></TabHeader>
                </ChildContent>
                <ContentTemplate>

                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Ceza İşlemleri"></TabHeader>
                </ChildContent>
                <ContentTemplate>

                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Staj İşlemleri"></TabHeader>
                </ChildContent>
                <ContentTemplate>

                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Hazırlık İşlemleri"></TabHeader>
                </ChildContent>
                <ContentTemplate>

                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Tez İşlemleri"></TabHeader>
                </ChildContent>
                <ContentTemplate>

                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Burs Bilgileri"></TabHeader>
                </ChildContent>
                <ContentTemplate>

                </ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
</div>

<style type="text/css" class="cssStyles">
    .detailtable td {
        font-size: 13px;
        padding: 4px;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .photo {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0,0,0,0.2);
    }
</style>