@using UniLife.Shared.Dto.Definitions
@using UniLife.Shared.DataModels
@using Syncfusion.Blazor.DropDowns;
@using Syncfusion.Blazor.Inputs
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars

@attribute [Authorize(Roles = "Administrator,Personel")]


<div class="dashboardParent" style="visibility: @Visible;">
    <SfDashboardLayout CellSpacing="@CellSpacing" Columns="@Columns" CellAspectRatio="@AspectRatio">
        <DashboardLayoutPanels>
            <DashboardLayoutPanel Id="1" Row="0" Col="0" SizeX="1" SizeY="1">
                <HeaderTemplate><div style="text-align: center;"><b>Geçiş Bilgileri</b></div></HeaderTemplate>
                <ContentTemplate>
                    <div class="row pb-2" style="margin-right: unset;margin-left: unset;">
                        <SfGrid @ref="GecisGrid" DataSource="@gecisDtos" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })" AllowSorting="true" AllowFiltering="true" AllowPaging="true">
                            <GridEvents OnActionComplete="ActionCompletedGecis" TValue="OgrGecisDto"></GridEvents>
                            <GridEditSettings ShowDeleteConfirmDialog="true" AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog"></GridEditSettings>
                            <GridColumns>
                                <GridColumn Visible="false" Field=@nameof(OgrGecis.Id) HeaderText="Id" AllowAdding="false" AllowEditing="false" IsPrimaryKey="true"></GridColumn>
                                <GridColumn Visible="false" Field=@nameof(OgrGecis.OgrenciId)></GridColumn>
                                <GridColumn Field=@nameof(OgrGecis.GelUniv) HeaderText="GelUniv"></GridColumn>
                                <GridColumn Field=@nameof(OgrGecis.GelBolum) HeaderText="GelBolum"></GridColumn>
                                <GridColumn Field=@nameof(OgrGecis.GelBirim) HeaderText="GelBirim"></GridColumn>
                            </GridColumns>
                        </SfGrid>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="2" Row="0" Col="1" SizeX="1" SizeY="1">
                <HeaderTemplate><div><b>Kayit Dondurma</b></div></HeaderTemplate>
                <ContentTemplate>
                    <SfGrid @ref="DondurGrid" DataSource="@dondurDtos" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })" AllowSorting="true" AllowFiltering="true" AllowPaging="true">
                        <GridEvents OnActionComplete="ActionCompletedDondur" TValue="OgrDondurDto"></GridEvents>
                        <GridEditSettings ShowDeleteConfirmDialog="true" AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog"></GridEditSettings>
                        <GridColumns>
                            <GridColumn Visible="false" Field=@nameof(OgrDondur.Id) HeaderText="Id" AllowAdding="false" AllowEditing="false" IsPrimaryKey="true"></GridColumn>
                            <GridColumn Visible="false" Field=@nameof(OgrDondur.OgrenciId)></GridColumn>
                            <GridColumn Field=@nameof(OgrDondur.DondTarih) HeaderText="DondTarih"></GridColumn>
                            <GridColumn Field=@nameof(OgrDondur.IsDond) DisplayAsCheckBox="true" HeaderText="GelUniv"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="3" Row="1" Col="0" SizeX="1" SizeY="1">
                <HeaderTemplate><div><b>Ceza İşlemleri</b></div></HeaderTemplate>
                <ContentTemplate>
                    <SfGrid @ref="CezaGrid" DataSource="@cezaDtos" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })" AllowSorting="true" AllowFiltering="true" AllowPaging="true">
                        <GridEvents OnActionComplete="ActionCompletedCeza" TValue="OgrCezaDto"></GridEvents>
                        <GridEditSettings ShowDeleteConfirmDialog="true" AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog"></GridEditSettings>
                        <GridColumns>
                            <GridColumn Visible="false" Field=@nameof(OgrCeza.Id) HeaderText="Id" AllowAdding="false" AllowEditing="false" IsPrimaryKey="true"></GridColumn>
                            <GridColumn Visible="false" Field=@nameof(OgrCeza.OgrenciId)></GridColumn>
                            <GridColumn Field=@nameof(OgrCeza.CezaAd) HeaderText="CezaAd"></GridColumn>
                            <GridColumn Field=@nameof(OgrCeza.CezaDesc) HeaderText="Ceza Açıklama"></GridColumn>
                            <GridColumn Field=@nameof(OgrCeza.CezaTarih) HeaderText="CezaTarih"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="4" Row="2" Col="0" SizeX="1" SizeY="1">
                <HeaderTemplate><div><b>Staj İşlemleri</b></div></HeaderTemplate>
                <ContentTemplate>
                    <SfGrid @ref="StajGrid" DataSource="@stajDtos" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })" AllowSorting="true" AllowFiltering="true" AllowPaging="true">
                        <GridEvents OnActionComplete="ActionCompletedStaj" TValue="OgrStajDto"></GridEvents>
                        <GridEditSettings ShowDeleteConfirmDialog="true" AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog"></GridEditSettings>
                        <GridColumns>
                            <GridColumn Visible="false" Field=@nameof(OgrStaj.Id) HeaderText="Id" AllowAdding="false" AllowEditing="false" IsPrimaryKey="true"></GridColumn>
                            <GridColumn Visible="false" Field=@nameof(OgrStaj.OgrenciId)></GridColumn>
                            <GridColumn Field=@nameof(OgrStaj.StajSirket) HeaderText="StajSirket"></GridColumn>
                            <GridColumn Field=@nameof(OgrStaj.StajTarihBas) HeaderText="StajTarihBas"></GridColumn>
                            <GridColumn Field=@nameof(OgrStaj.StajTarihSon) HeaderText="StajTarihSon"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="5" Row="2" Col="1" SizeX="1" SizeY="1">
                <HeaderTemplate><div><b>Hazırlık İşlemleri</b></div></HeaderTemplate>
                <ContentTemplate>

                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="6" Row="2" Col="0" SizeX="1" SizeY="1">
                <HeaderTemplate><div>Tez İşlemleri</div></HeaderTemplate>
                <ContentTemplate>
                    <SfGrid @ref="TezGrid" DataSource="@tezDtos" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })" AllowSorting="true" AllowFiltering="true" AllowPaging="true">
                        <GridEvents OnActionComplete="ActionCompletedTez" TValue="OgrTezDto"></GridEvents>
                        <GridEditSettings ShowDeleteConfirmDialog="true" AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog"></GridEditSettings>
                        <GridColumns>
                            <GridColumn Visible="false" Field=@nameof(OgrTez.Id) HeaderText="Id" AllowAdding="false" AllowEditing="false" IsPrimaryKey="true"></GridColumn>
                            <GridColumn Visible="false" Field=@nameof(OgrTez.OgrenciId)></GridColumn>
                            <GridColumn Field=@nameof(OgrTez.TezKonu) HeaderText="TezKonu"></GridColumn>
                            <GridColumn Field=@nameof(OgrTez.TezTarih) HeaderText="TezTarih"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="7" Row="2" Col="1" SizeX="1" SizeY="1">
                <HeaderTemplate><div><b>Burs İşlemleri</b></div></HeaderTemplate>
                <ContentTemplate>

                </ContentTemplate>
            </DashboardLayoutPanel>

        </DashboardLayoutPanels>
    </SfDashboardLayout>
</div>

<style type="text/css" class="cssStyles">
    .e-dashboardlayout.e-control.e-responsive {
        z-index: 1;
    }
</style>