@using UniLife.Shared.Dto.Definitions
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Calendars
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@using UniLife.CommonUI.Pages.Admin.OgrenciIslem.OgrenciIslemTabs

<SfGrid PrintMode="PrintMode.CurrentPage" @ref="mezunGrid" Query="@totalQuery" TValue="OgrenciDto" AllowPaging="true" AllowSelection="true">
    <SfDataManager Url="@OdataQuery" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
    @*<GridEvents OnToolbarClick="ToolbarClickHandler" TValue="OgrenciDto"></GridEvents>*@
    <GridEvents TValue="OgrenciDto" CommandClicked="CommandClickHandler"></GridEvents>
    <GridPageSettings PageCount="5" PageSizes="new int[]{ 5, 10, 50, 100,500,2000,10000}"></GridPageSettings>
    @*<GridSelectionSettings CheckboxOnly="true" PersistSelection="true"></GridSelectionSettings>*@
    <GridColumns>
        <GridColumn Visible="false" Field=@nameof(OgrenciDto.Id) Edit="false" AllowEditing="false" IsPrimaryKey="true"></GridColumn>
        <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
        <GridColumn HeaderText="Resim" Width="120">
            <Template>
                @{
                    var ogrenciInfo = (context as OgrenciDto);
                    <div class="image">
                        <img class="photo" style="max-width:70px;" src="@($"/_content/UniLife.CommonUI/images/ogrenci/{ogrenciInfo.ApplicationUserId.ToString()}.png")" alt="@ogrenciInfo.Id" />
                    </div>
                }
            </Template>
        </GridColumn>
        <GridColumn HeaderText="Öğrenci">
            <Template>
                @{
                    var ogrenciInfo = (context as OgrenciDto);
                    <div class="form-group row">
                        <label for="OgrNo" class="col-sm-3">OgrNo:</label>
                        <div id="OgrNo" class="col-sm-9">
                            @(ogrenciInfo.OgrNo )
                        </div>
                        <label for="Ad" class="col-sm-3">Ad:</label>
                        <div id="Ad" class="col-sm-9">
                            @(ogrenciInfo.Ad )
                        </div>
                        <label for="Soyad" class="col-sm-3">Soyad:</label>
                        <div id="Soyad" class="col-sm-9">
                            @(ogrenciInfo.Soyad )
                        </div>
                        <label for="Sinif" class="col-sm-3">Sınıf:</label>
                        <div id="Sinif" class="col-sm-9">
                            @(ogrenciInfo.Sinif )
                        </div>
                    </div>
                }
            </Template>
        </GridColumn>
        <GridColumn HeaderText="Kayıt">
            <Template>
                @{
                    var ogrenciInfo = (context as OgrenciDto);
                    <div class="form-group row">
                        <label for="Program" class="col-sm-5">Program:</label>
                        <div id="Program" class="col-sm-7">
                            @(ogrenciInfo.Program.Ad)
                        </div>
                        <label for="ktarih" class="col-sm-5">Kayit Tarih:</label>
                        <div id="ktarih" class="col-sm-7">
                            @(Convert.ToDateTime(ogrenciInfo.KayitTarih).ToString("dd.MM.yyyy") )
                        </div>
                        <label for="kNeden" class="col-sm-5">Kayit Neden:</label>
                        <div id="kNeden" class="col-sm-7">
                            @(ogrenciInfo.KayitNeden.Ad )
                        </div>
                        <label for="Danisman" class="col-sm-5">Danisman:</label>
                        <div id="Danisman" class="col-sm-7">
                            @(ogrenciInfo.Danisman.Ad)
                        </div>
                    </div>
                }
            </Template>
        </GridColumn>
        <GridColumn HeaderText="Bilgi 1">
            <Template>
                @{
                    var ogrenciInfo = (context as OgrenciDto);
                    <div class="form-group row">
                        <label for="AGNO" class="col-sm-6">AGNO:</label>
                        <div id="AGNO" class="col-sm-6">
                            @(ogrenciInfo.AgNo1 +"/"+ ogrenciInfo.AgNo2 )
                        </div>
                        <label for="topKredi" class="col-sm-6">Toplam Kredi:</label>
                        <div id="topKredi" class="col-sm-6">
                            @(ogrenciInfo.TopKredi1+"/"+ ogrenciInfo.TopKredi2)
                        </div>
                        <label for="takts" class="col-sm-6">Toplam AKTS:</label>
                        <div id="takts" class="col-sm-6">
                            @(ogrenciInfo.TopAkts1+"/"+ ogrenciInfo.TopAkts2)
                        </div>
                        <label for="stajhaz" class="col-sm-6">Staj/Hazırlık:</label>
                        <div id="stajhaz" class="col-sm-6">
                            @(ogrenciInfo.HasStaj+"/"+ ogrenciInfo.HasHazirlik)
                        </div>
                    </div>
                }
            </Template>
        </GridColumn>
        <GridColumn HeaderText="Bilgi 2">
            <Template>
                @{
                    var ogrenciInfo = (context as OgrenciDto);
                    <div class="form-group row">
                        <label for="secDers" class="col-sm-7">Secmeli Dersler:</label>
                        <div id="secDers" class="col-sm-5">
                            @(ogrenciInfo.SDersler1+"/"+ ogrenciInfo.SDersler2)
                        </div>
                        <label for="zders" class="col-sm-7">Zorunlu Dersler:</label>
                        <div id="zders" class="col-sm-5">
                            @(ogrenciInfo.ZDersler1 +"/"+ ogrenciInfo.ZDersler2 )
                        </div>
                        <label for="basDers" class="col-sm-7">Başarısız Dersler:</label>
                        <div id="basDers" class="col-sm-5">
                            @(ogrenciInfo.BasarisizDersler )
                        </div>
                        <label for="sonDonem" class="col-sm-7">Son Dönemi:</label>
                        <div id="sonDonem" class="col-sm-5">
                            @(ogrenciInfo.SonDonemId)
                        </div>
                    </div>
                }
            </Template>
        </GridColumn>
        <GridColumn HeaderText="Bilgi 3">
            <Template>
                @{
                    var ogrenciInfo = (context as OgrenciDto);
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <a href="javascript: void(0)" @onclick="@(()=>AlDersler(ogrenciInfo.Id))">Aldığı Dersler</a>
                        </div>
                        <div class="col-sm-12">
                            <a href="javascript: void(0)" @onclick="@(()=>MufDurum(ogrenciInfo.Id))">Müfredat Durum</a>
                        </div>
                        <div class="col-sm-12">
                            <a href="javascript: void(0)" @onclick="@(()=>Transkript(ogrenciInfo.Id))">Traskript</a>
                        </div>
                        <div class="col-sm-12">
                            <a href="javascript: void(0)" @onclick="@(()=>MezuniyetTranskript(ogrenciInfo.Id))">Mezuniyet Traskript</a>
                        </div>
                    </div>
                }
            </Template>
        </GridColumn>
        <GridColumn>
            <GridCommandColumns>
                <GridCommandColumn Type="CommandButtonType.None" Title="Mezun Onay" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-DoubleArrowRight", CssClass="e-flat",Content="Mezun Onay" })"></GridCommandColumn>
            </GridCommandColumns>
        </GridColumn>
    </GridColumns>
</SfGrid>


@if (isUyariOpen)
{
    <Dialog Baslik="Traskript" @bind-isDialogOpen="@isUyariOpen">
        <OgrenciMufredatDersler OgrId="@OgrId"></OgrenciMufredatDersler>
    </Dialog>
}

<style>
    .e-DoubleArrowRight:before {
        content: '\e7bb';
        color: #3ec9e8 !important;
    }
</style>