@using UniLife.Shared.Dto.Definitions
@using Syncfusion.Blazor.Buttons
@inject AppState appState
@*@attribute [Authorize(Roles = "Administrator,Personel,Ogrenci,Akademisyen")]*@




        <div class="server-action-menu" style="padding-top: 10px;">
            <div class="row">
                <div class="col-sm-12 text-center">

                    <legend>Müfredat Dersleri</legend>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-12 col-md-12">
                    @if (DersAcilanDtos == null)
                    {
                        <LoadingBackground ShowLogoBox="true">
                            <label>Müfredat Dersleri Yükleniyor...</label>
                        </LoadingBackground>
                    }
                    else
                    {
                        <SfGrid ID="DersAcilanGrid" @ref="DersAcilanGrid" DataSource="@DersAcilanDtos" RowHeight="20" AllowSorting="true" AllowPaging="true" AllowExcelExport="true" AllowPdfExport="true">
                            @*<GridEvents OnActionComplete="ActionCompletedHandler" TValue="ProgramDto"></GridEvents>*@
                            <GridEvents TValue="DersAcilanDto" QueryCellInfo="QueryCellInfoAcilanHandler" CommandClicked="CommandClickHandler"></GridEvents>
                            <GridColumns>
                                <GridColumn Visible="false" Field=@nameof(DersAcilanDto.Id) HeaderText="Ders ID" IsIdentity="true" IsPrimaryKey="true" TextAlign="TextAlign.Left"></GridColumn>


                                <GridColumn AutoFit="true" Field=@nameof(DersAcilanDto.Kod) HeaderText="Ders Kodu"></GridColumn>
                                <GridColumn Field=@nameof(DersAcilanDto.Ad) HeaderText="Ders Adı"></GridColumn>
                                <GridColumn AutoFit="true" Field=@nameof(DersAcilanDto.Zorunlu) HeaderText="Zorunlu" DisplayAsCheckBox="true"></GridColumn>
                                <GridColumn Field=@nameof(DersAcilanDto.Kredi) HeaderText="Kredi"></GridColumn>
                                <GridColumn Field=@nameof(DersAcilanDto.Akts) HeaderText="Akts"></GridColumn>
                                <GridColumn AutoFit="true" Field=@nameof(DersAcilanDto.Sinif) HeaderText="Sinif"></GridColumn>
                                <GridColumn AutoFit="true" Field=@nameof(DersAcilanDto.Sube) HeaderText="Şube"></GridColumn>
                                <GridColumn Field=@nameof(DersAcilanDto.ODTekrar) HeaderText="Önceki Dönemler Tekrar Durumu"></GridColumn>
                                <GridColumn Field=@nameof(DersAcilanDto.ADKayit) HeaderText="Aktif Dönem Kayıt Durumu"></GridColumn>
                                @if (!IsOnayli)
                                {
                                    <GridColumn HeaderText="Seçmeli">
                                        <Template>
                                            @{
                                                var dersacilan = (context as DersAcilanDto);
                                                if (dersacilan.Zorunlu == false)
                                                {
                                                    <SfButton IconCss="e-icons e-StrokeColor" OnClick="@(()=>CommandClickSecmeliAl(dersacilan))"></SfButton>
                                                }
                                                @*<SfButton Disabled="@(dersacilan.Zorunlu == true)">Refresh</SfButton>*@
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn HeaderText="Kayıt" Width="75">
                                        <GridCommandColumns>
                                            <GridCommandColumn Type="CommandButtonType.None" Title="Kayıt" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-DoubleArrowUP", CssClass="e-flat" })"></GridCommandColumn>
                                            @*<GridCommandColumn Type="CommandButtonType.None" Title="Seçmeli Al" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-StrokeColor", CssClass="e-flat" })"></GridCommandColumn>*@
                                        </GridCommandColumns>
                                    </GridColumn>
                                }
                            </GridColumns>
                        </SfGrid>
                    }

                </div>

            </div>
            <div class="row">
                <div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>
            </div>
        </div>


<Dialog Baslik="Ders mevcut" @bind-isDialogOpen="@dialog">
    <p>@dialogText</p>
</Dialog>

@if (secmeliDersDialogOpen)
{
    <Dialog Baslik="Seçmeli Dersler" @bind-isDialogOpen="@secmeliDersDialogOpen">
        <div class="row">
            <SfGrid ID="SecmeliDersGrid" @ref="SecmeliDersGrid" DataSource="@SecmeliDerslerDtos" RowHeight="20" AllowSorting="true" AllowPaging="true" AllowFiltering="true">
                @*<GridEvents OnActionComplete="ActionCompletedHandler" TValue="ProgramDto"></GridEvents>*@
                <GridEvents TValue="DersAcilanDto" CommandClicked="CommandClickHandlerSecmeli"></GridEvents>
                @*<GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>*@
                <GridColumns>
                    <GridColumn Visible="false" Field=@nameof(DersAcilanDto.Id) HeaderText="Ders ID" IsIdentity="true" IsPrimaryKey="true" TextAlign="TextAlign.Left"></GridColumn>
                    <GridColumn Width="50">
                        <GridCommandColumns>
                            <GridCommandColumn Type="CommandButtonType.None" Title="Kayıt Ol Secmeli" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-DoubleArrowDown", CssClass="e-flat" })"></GridCommandColumn>
                        </GridCommandColumns>
                    </GridColumn>
                    <GridColumn AutoFit="true" Field=@nameof(DersAcilanDto.Kod) HeaderText="Kod"></GridColumn>
                    <GridColumn Field=@nameof(DersAcilanDto.Ad) HeaderText="Ders Adı"></GridColumn>
                    <GridColumn Field=@nameof(DersAcilanDto.FakulteAd) HeaderText="Fakulte Ad"></GridColumn>
                    <GridColumn Field=@nameof(DersAcilanDto.ProgramAd) HeaderText="Program Ad"></GridColumn>
                    <GridColumn AutoFit="true" Field=@nameof(DersAcilanDto.Zorunlu) DisplayAsCheckBox="true" HeaderText="Z/S"></GridColumn>
                    <GridColumn AutoFit="true" Field=@nameof(DersAcilanDto.Kredi) HeaderText="Krd"></GridColumn>
                    <GridColumn AutoFit="true" Field=@nameof(DersAcilanDto.Akts) HeaderText="Akts"></GridColumn>
                    <GridColumn AutoFit="true" Field=@nameof(DersAcilanDto.Sinif) HeaderText="Sinif"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>

    </Dialog>
}



<style>
    .server-action-menu {
        background-color: transparent;
        background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
        background-repeat: repeat;
        border-radius: 10px;
        padding: 5px;
    }

    .e-DoubleArrowUP:before {
        content: '\e7c5';
        color: #3ec9e8;
    }

    .e-StrokeColor:before {
        content: '\e704';
        color: #3210c9;
    }

    .e-grid .e-gridcontent .e-rowcell.below-35 {
        color: orangered;
    }

    .mdc-dialog .mdc-dialog__container {
        width: 100%;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: none;
        width: 70%;
    }

    .row {
        margin-right: unset;
        margin-left: unset;
    }
</style>
