@page "/Mezuniyet"
@using UniLife.Shared.Dto.Definitions
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@using UniLife.CommonUI.Pages.Admin.OgrenciIslem.OgrenciIslemTabs


<div class="row pb-2 card">
    <div class="col-sm-5">
        <FakBolPrg @bind-ProgramId="ProgramId"
                   @bind-BolumId="BolumId"
                   @bind-FakulteId="FakulteId"
                   ProgramPlaceHolder=" "
                   ProgramShow="true"></FakBolPrg>
    </div>

    @*Custom odata yapacaz gene. seçilenler param olarak gidecek. diğer örneği bi incele*@

    <div class="col-sm-7">
        <div class="form-group row">
            <label for="KayOgr" class="col-sm-3">AGNO</label>
            <div class="col-sm-1">
                <SfCheckBox @bind-Checked="@AGNOKontrol" TChecked="bool"></SfCheckBox>
            </div>
            <label for="KayOgr" class="col-sm-3">Kredi</label>
            <div class="col-sm-1">
                <SfCheckBox @bind-Checked="@KrediKontrol" TChecked="bool"></SfCheckBox>
            </div>
            <label for="KayOgr" class="col-sm-3">AKTS</label>
            <div class="col-sm-1">
                <SfCheckBox @bind-Checked="@AKTSKontrol" TChecked="bool"></SfCheckBox>
            </div>
            <label for="KayOgr" class="col-sm-3">Staj</label>
            <div class="col-sm-1">
                <SfCheckBox @bind-Checked="@StajKontrol" TChecked="bool"></SfCheckBox>
            </div>
            <label for="KayOgr" class="col-sm-3">ZorunluDers</label>
            <div class="col-sm-1">
                <SfCheckBox @bind-Checked="@ZorunluDersKontrol" TChecked="bool"></SfCheckBox>
            </div>
            <label for="KayOgr" class="col-sm-3">SecemeliDers</label>
            <div class="col-sm-1">
                <SfCheckBox @bind-Checked="@SecemeliDersKontrol" TChecked="bool"></SfCheckBox>
            </div>
            <label for="KayOgr" class="col-sm-3">BasarisizDers</label>
            <div class="col-sm-1">
                <SfCheckBox @bind-Checked="@BasarisizDersKontrol" TChecked="bool"></SfCheckBox>
            </div>
            <label for="KayOgr" class="col-sm-3">Hazirlik</label>
            <div class="col-sm-1">
                <SfCheckBox @bind-Checked="@HazirlikKontrol" TChecked="bool"></SfCheckBox>
            </div>
        </div>
        <SfButton OnClick="Refresh" CssClass="e-success col-sm-12 form-control-sm">Bul / Yenile</SfButton>

    </div>
</div>

@if (true)
{
    <SfGrid PrintMode="PrintMode.CurrentPage" @ref="mezunGrid" Query="@totalQuery" TValue="OgrenciDto" AllowPaging="true" AllowSelection="true">
        <SfDataManager Url="@OdataQuery" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
        @*<GridEvents RowSelecting="OnRowSelecting" OnToolbarClick="ToolbarClickHandler" OnActionComplete="ActionCompletedHandler" OnActionBegin="OnActionBeginHandler" CommandClicked="CommandClickHandler" TValue="DersAcilanDto"></GridEvents>*@
        <GridPageSettings PageCount="5" PageSizes="new int[]{ 5, 10, 50, 100,10000}"></GridPageSettings>
        <GridSelectionSettings CheckboxOnly="true" PersistSelection="true"></GridSelectionSettings>
        <GridColumns>
            <GridColumn Visible="false" Field=@nameof(OgrenciDto.Id) Edit="false" AllowEditing="false" IsPrimaryKey="true"></GridColumn>
            <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
            <GridColumn HeaderText="Resim" Width="120">
                <Template>
                    @{
                        var ogrenciInfo = (context as OgrenciDto);
                        <div class="image">
                            <img class="photo" src="@($"/_content/UniLife.CommonUI/images/ogrenci/{ogrenciInfo.ApplicationUserId.ToString()}.png")" alt="@ogrenciInfo.Id" />
                        </div>
                    }
                </Template>
            </GridColumn>
            <GridColumn HeaderText="Öğrenci">
                <Template>
                    @{
                        var ogrenciInfo = (context as OgrenciDto);
                        <div class="form-group row">
                            <label for="OgrNo" class="col-sm-3">OgrNo:</label>
                            <div id="OgrNo" class="col-sm-9">
                                @(ogrenciInfo.OgrNo )
                            </div>
                            <label for="Ad" class="col-sm-3">Ad:</label>
                            <div id="Ad" class="col-sm-9">
                                @(ogrenciInfo.Ad )
                            </div>
                            <label for="Soyad" class="col-sm-3">Soyad:</label>
                            <div id="Soyad" class="col-sm-9">
                                @(ogrenciInfo.Soyad )
                            </div>
                            <label for="Sinif" class="col-sm-3">Sınıf:</label>
                            <div id="Sinif" class="col-sm-9">
                                @(ogrenciInfo.Sinif )
                            </div>
                        </div>
                    }
                </Template>
            </GridColumn>
            <GridColumn HeaderText="Kayıt">
                <Template>
                    @{
                        var ogrenciInfo = (context as OgrenciDto);
                        <div class="form-group row">
                            <label for="Program" class="col-sm-5">Program:</label>
                            <div id="Program" class="col-sm-7">
                                @(ogrenciInfo.Program.Ad)
                            </div>
                            <label for="ktarih" class="col-sm-5">Kayit Tarih:</label>
                            <div id="ktarih" class="col-sm-7">
                                @(Convert.ToDateTime(ogrenciInfo.KayitTarih).ToString("dd.MM.yyyy") )
                            </div>
                            <label for="kNeden" class="col-sm-5">Kayit Neden:</label>
                            <div id="kNeden" class="col-sm-7">
                                @(ogrenciInfo.KayitNeden.Ad )
                            </div>
                            <label for="Danisman" class="col-sm-5">Danisman:</label>
                            <div id="Danisman" class="col-sm-7">
                                @(ogrenciInfo.Danisman.Ad)
                            </div>
                        </div>
                    }
                </Template>
            </GridColumn>
            <GridColumn HeaderText="Bilgi 1">
                <Template>
                    @{
                        var ogrenciInfo = (context as OgrenciDto);
                        <div class="form-group row">
                            <label for="AGNO" class="col-sm-6">AGNO:</label>
                            <div id="AGNO" class="col-sm-6">
                                @(ogrenciInfo.AgNo1 +"/"+ ogrenciInfo.AgNo2 )
                            </div>
                            <label for="topKredi" class="col-sm-6">Toplam Kredi:</label>
                            <div id="topKredi" class="col-sm-6">
                                @(ogrenciInfo.TopKredi1+"/"+ ogrenciInfo.TopKredi2)
                            </div>
                            <label for="takts" class="col-sm-6">Toplam AKTS:</label>
                            <div id="takts" class="col-sm-6">
                                @(ogrenciInfo.TopAkts1+"/"+ ogrenciInfo.TopAkts2)
                            </div>
                            <label for="stajhaz" class="col-sm-6">Staj/Hazırlık:</label>
                            <div id="stajhaz" class="col-sm-6">
                                @(ogrenciInfo.HasStaj+"/"+ ogrenciInfo.HasHazirlik)
                            </div>
                        </div>
                    }
                </Template>
            </GridColumn>
            <GridColumn HeaderText="Bilgi 2">
                <Template>
                    @{
                        var ogrenciInfo = (context as OgrenciDto);
                        <div class="form-group row">
                            <label for="secDers" class="col-sm-7">Secmeli Dersler:</label>
                            <div id="secDers" class="col-sm-5">
                                @(ogrenciInfo.SDersler1+"/"+ ogrenciInfo.SDersler2)
                            </div>
                            <label for="zders" class="col-sm-7">Zorunlu Dersler:</label>
                            <div id="zders" class="col-sm-5">
                                @(ogrenciInfo.ZDersler1 +"/"+ ogrenciInfo.ZDersler2 )
                            </div>
                            <label for="basDers" class="col-sm-7">Başarısız Dersler:</label>
                            <div id="basDers" class="col-sm-5">
                                @(ogrenciInfo.BasarisizDersler )
                            </div>
                            <label for="sonDonem" class="col-sm-7">Son Dönemi:</label>
                            <div id="sonDonem" class="col-sm-5">
                                @(ogrenciInfo.SonDonem)
                            </div>
                        </div>
                    }
                </Template>
            </GridColumn>
            <GridColumn HeaderText="Bilgi 3">
                <Template>
                    @{
                        var ogrenciInfo = (context as OgrenciDto);
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <a href="javascript: void(0)" @onclick="@(()=>AlDersler(ogrenciInfo.Id))">Aldığı Dersler</a>
                            </div>
                            <div class="col-sm-12">
                                <a href="javascript: void(0)" @onclick="@(()=>MufDurum(ogrenciInfo.Id))">Müfredat Durum</a>
                            </div>
                            <div class="col-sm-12">
                                <a href="javascript: void(0)" @onclick="@(()=>Transkript(ogrenciInfo.Id))">Traskript</a>
                            </div>
                            <div class="col-sm-12">
                                <a href="javascript: void(0)" @onclick="@(()=>MezuniyetTranskript(ogrenciInfo.Id))">Mezuniyet Traskript</a>
                            </div>
                        </div>
                    }
                </Template>
            </GridColumn>

        </GridColumns>
    </SfGrid>
}

@if (isUyariOpen)
{
    <Dialog Baslik="Traskript" @bind-isDialogOpen="@isUyariOpen">
        <OgrenciMufredatDersler OgrId="@OgrId"></OgrenciMufredatDersler>
    </Dialog>
}

<style>
    .form-group {
        margin-bottom: 0.2rem;
    }

    input.e-input, .e-input-group input, .e-input-group.e-control-wrapper input, .e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input {
        height: auto;
    }

    .col-form-label-sm {
        padding-bottom: unset;
        /*font-size: 0.65rem;*/
        /*font-size: .775rem;*/
    }

    .e-Resource:before {
        content: '\e7d3';
        color: #31ba13;
    }

    .e-Circle_Add:before {
        content: '\e755';
        color: #31ba13;
    }

    .mdc-dialog .mdc-dialog__container {
        width: 100%;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: none;
        width: 70%;
    }

    .card {
        flex-direction: unset;
    }

    .e-grid .e-altrow {
        background-color: #e9e9e9;
    }

    .photo img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0, 0, 0, 0.2);
    }

    .photo {
        border-color: #e0e0e0;
        border-style: solid;
    }

    .photo {
        border-width: 1px 0px 0px 0px;
        text-align: center;
    }

    .details {
        font-size: 13px;
    }

    img {
        width: 100%;
        max-width: 70px;
    }
</style>