@inject HttpClient Http
@using Semerkand.Shared.Dto.Definitions
@inject IMatToaster matToaster
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

<div style="display:inline-flex">
    <div style="float:left;padding:45px;padding-top:70px"><img class="photo" src="@UriHelper.ToAbsoluteUri($"https://blazor.syncfusion.com/demos/images/Grid/1.png")" alt="@_OgrenciDto.Id" /></div>
    <div style="padding-top:42px">
        <span style="font-size: x-large;font-weight: bold;">@_OgrenciDto.Ad @_OgrenciDto.Soyad </span><br />
        <h5 style="font-weight:400 !important;">@_OgrenciDto.ProgramAdi</h5><br />
        <span class="title">Fakulte:</span> <span class="content">@_OgrenciDto.FakulteAdi</span><br />
        <span class="title">OgrNo:</span> <span class="content">@_OgrenciDto.OgrNo</span><br />
        <span class="title">Bolum:</span> <span class="content">@_OgrenciDto.BolumAdi</span><br />
        <span id="mufredat" class="title">Müfredat:</span> <span class="content">@_OgrenciDto.MufredatAdi</span><br />
        <span class="title">Mail:</span> <span class="content ">@_OgrenciDto.Email</span>
    </div>
</div>

@code{
    [Parameter]
    public OgrenciDto _OgrenciDto { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ReadOgrenci();
    }

    async Task ReadOgrenci()
    {
        try
        {
            ApiResponseDto<OgrenciDto> apiResponse = await Http.GetFromJsonAsync<ApiResponseDto<OgrenciDto>>("api/ogrenci/GetOgrenciWithRelations/" + _OgrenciDto.Id);

            if (apiResponse.StatusCode == Status200OK)
            {
                _OgrenciDto = apiResponse.Result;
            }
            else
            {
                matToaster.Add(apiResponse.Message + " : " + apiResponse.StatusCode, MatToastType.Danger, "Öğrenci bilgisi getirilirken hata oluştu!");
            }
        }
        catch (Exception ex)
        {

            matToaster.Add("İncelenmek üzere kayıt edilmiştir. " + ex.Message, MatToastType.Danger, "Hata oluştu!");
        }


    }
}