@page "/admin/ogrenci_islem"
@using Syncfusion.Blazor.Navigations
@using UniLife.CommonUI.Pages.Admin.OgrenciIslem.OgrenciIslemTabs
@using UniLife.Shared.Dto.Definitions
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@*@attribute [Authorize(Policy = Policies.IsAdmin)]*@

@if (OgrSelected)
{

    <div class="card">
        <div class="table-responsive">
            <table class="table" style="margin-bottom: 0px;">
                <colgroup>
                    <col width="25%">
                    <col width="45%">
                    <col width="30%">
                </colgroup>
                <tbody style="font-size: 13px;">
                    <tr>
                        <td rowspan="4" style="text-align: center;">
                            <img class="photo" src="@UriHelper.ToAbsoluteUri($"/_content/UniLife.CommonUI/images/ogrenci/{_OgrenciDto.ApplicationUserId.ToString()}.png")" alt="@_OgrenciDto.Id" />
                        </td>
                        <td>
                            <span style="font-weight: 500;">Ad Soyad: </span> @_OgrenciDto.Ad @_OgrenciDto.Soyad
                        </td>
                        <td>
                            <span style="font-weight: 500;">Gereken Toplam Ücret: </span> @_OgrenciDto.GerekenTopUcret
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: 500;">Kayıt Tarih: </span> @(_OgrenciDto.KayitTarih==null?"":_OgrenciDto.KayitTarih.Value.ToShortDateString())
                        </td>
                        <td>
                            <span style="font-weight: 500;">Ödenen Toplam Ücret: </span> @_OgrenciDto.OdenenTopUcret
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: 500;">Bağlı Müfredat: </span> @_OgrenciDto.MufredatAdi
                        </td>
                        <td>
                            <span style="font-weight: 500;">Genel Bakiye: </span> @_OgrenciDto.GenelBakiye
                        </td>
                        @*<td rowspan="4">
                                <SfDropDownList ID="DropDonemTip" @ref="DropDonemTip" TItem="DonemTipDto" CssClass="col-sm-10 pb-1"
                                                TValue="int?" PopupHeight="230px" @bind-Value="aktifdonemTipId"
                                                DataSource="@donemTipDtos">
                                    <DropDownListEvents TValue="int?" ValueChange="AcilanDersleriYenile"></DropDownListEvents>
                                    <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </td>*@
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

}

<div class="control-section e-tab-section" style="padding-top: 10px;">
    <SfTab @ref="Tab" LoadOn="ContentLoad.Dynamic">
        @*Selected="OnTabSelected" Selecting="OnTabSelecting"*@
        <TabEvents Selected="OnTabSelected" Created="TabCreate" Selecting="OnTabSelecting"></TabEvents>
        <TabItems>
            <TabItem Visible="@(!OgrSelected)">
                <ChildContent>
                    <TabHeader Text="Öğrenciler"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <Ogrenciler OgrenciToAkademik="OgrenciToAkademik"></Ogrenciler>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(OgrSelected)">
                <ChildContent>
                    <TabHeader Text="Akademik Bilgiler"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciDuzenle AkademikToOgrenci="TabDegis" _OgrenciDto="_OgrenciDto"></OgrenciDuzenle>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(OgrSelected)">
                <ChildContent>
                    <TabHeader Text="Ders Kayıt"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <DersKayit _OgrenciDto="_OgrenciDto"></DersKayit>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(OgrSelected)">
                <ChildContent>
                    <TabHeader Text="Müfredat Dersleri"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciMufredatDersler></OgrenciMufredatDersler>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(OgrSelected)">
                <ChildContent>
                    <TabHeader Text="Dönem Dersleri"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciDonemDersler></OgrenciDonemDersler>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(OgrSelected)">
                <ChildContent>
                    <TabHeader Text="Dosyalar"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciDosya _OgrenciDto="_OgrenciDto"></OgrenciDosya>
                </ContentTemplate>
            </TabItem>
            @*<TabItem Visible="@(OgrSelected)">
            <ChildContent>
                <TabHeader Text="Notlar"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <OgrenciNotlar></OgrenciNotlar>
            </ContentTemplate>
        </TabItem>*@
            <TabItem Visible="@(OgrSelected)">
                <ChildContent>
                    <TabHeader Text="Nûfus Bilgileri"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciNufus _OgrenciDto="_OgrenciDto"></OgrenciNufus>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(OgrSelected)">
                <ChildContent>
                    <TabHeader Text="Askerlik Bilgileri"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciAskerlik _OgrenciDto="_OgrenciDto"></OgrenciAskerlik>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(OgrSelected)">
                <ChildContent>
                    <TabHeader Text="Ösym Bilgileri"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciOsym _OgrenciDto="_OgrenciDto"></OgrenciOsym>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(OgrSelected)">
                <ChildContent>
                    <TabHeader Text="Harç Bilgileri ?"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciHarc _OgrenciDto="_OgrenciDto"></OgrenciHarc>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(OgrSelected)">
                <ChildContent>
                    <TabHeader Text="Diğer Bilgiler" IconCss="e-icons e-Menu" IconPosition="right"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciDiger _OgrenciDto="_OgrenciDto"></OgrenciDiger>
                </ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
</div>

@**@


@code{

    bool OgrSelected = false;

    SfTab Tab;
    public OgrenciDto _OgrenciDto { get; set; } = new OgrenciDto();

    public void TabDegis(int tabIndex)
    {
        //Tab.HideTab(0, !(tabIndex == 0));
        //Tab.HideTab(1, !(tabIndex > 0));
        //Tab.HideTab(2, !(tabIndex > 0));
        //Tab.HideTab(3, !(tabIndex > 0));
        //Tab.HideTab(4, !(tabIndex > 0));
        //Tab.HideTab(5, !(tabIndex > 0));
        //Tab.HideTab(6, !(tabIndex > 0));
        //Tab.HideTab(7, !(tabIndex > 0));
        //Tab.HideTab(7, !(tabIndex > 0));
        //Tab.HideTab(8, !(tabIndex > 0));
        //Tab.HideTab(9, !(tabIndex > 0));
        Tab.Select(tabIndex);
        OgrSelected = false;
    }

    public void OgrenciToAkademik(OgrenciDto ogrenciDto)
    {

        _OgrenciDto = ogrenciDto;

        TabDegis(1);
        OgrSelected = true;
    }

    public void TabCreate()
    {
        //Tab.EnableTab(0, true);
        //Tab.EnableTab(1, false);
        //Tab.EnableTab(2, false);
        //Tab.EnableTab(3, false);
        //Tab.EnableTab(4, false);
        //Tab.EnableTab(5, false);
        //Tab.EnableTab(6, false);
        //Tab.EnableTab(7, false);

        //Tab.EnableTab(0, false);
        //Tab.HideTab(1, true);
        //Tab.HideTab(2, true);
        //Tab.HideTab(3, true);
        //Tab.HideTab(4, true);
        //Tab.HideTab(5, true);
        //Tab.HideTab(6, true);
        //Tab.HideTab(7, true);
        //Tab.HideTab(8, true);
        //Tab.HideTab(9, true);

    }

    public async void onDonemChange()
    {
        await Tab.Select(Tab.SelectedItem);
    }

    public void OnTabSelected(SelectEventArgs args)
    {
        if (args.Name == "Öğrenciler")
        {
            OgrSelected = false;
        }
    }
    public void OnTabSelecting(SelectingEventArgs args)
    {
        if (args.IsSwiped)
        {
            args.Cancel = true;
        }
    }
}




<style>
    /*.tab_content .e-content .e-item {
        font-size: 12px;
        padding: 10px;
        text-align: justify;
        background-color: red;
    }*/

    .e-tab .e-tab-header::before {
        border-color: #69e0f0;
        border-style: solid;
    }

    .e-tab .e-tab-header .e-toolbar-item.e-active {
        border: 1px solid #dee2e6;
        background-color: #69e0f0;
    }

    .e-tab .e-tab-header:not(.e-vertical) .e-toolbar-item.e-active {
        border-bottom: 1px solid #69e0f0;
    }

    .e-DoubleArrowRight:before {
        content: '\e7bb';
        color: #3ec9e8;
    }

    .e-Menu:before {
        content: '\e7cd';
        color: #13b6d6;
    }

    
    .detailtable td {
        font-size: 13px;
        padding: 4px;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .photo {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0,0,0,0.2);
    }

    .table td, .table th {
        padding-top: 10px;
        padding-bottom: 0px;
    }
</style>