@page "/ogrenci/ogrenci_toplu_atama"

@using Syncfusion.Blazor.DropDowns
@using UniLife.Shared.Dto.Definitions
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Buttons

<div class="control-section">
    <div class="content-wrapper">

        <div class="row pb-2 bg-light text-dark">
            <div class="col-sm-12 col-md-7">
                <div class="form-group row">
                    <label for="DropFakulte" class="col-sm-2 col-form-label-sm">Fakülte</label>
                    <div class="col-sm-10">
                        <SfDropDownList ID="DropFakulte" @ref="DropFakulte" ShowClearButton="true" TItem="KeyValueDto" CssClass="form-control-sm"
                                        TValue="int?" PopupHeight="230px"
                                        @bind-Value="@reqOgrTopAtaDto.FakulteId" DataSource="@fakulteDtos">
                            <DropDownListEvents TValue="int?" ValueChange="FakulteToBolum"></DropDownListEvents>
                            <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="DropBolum" class="col-sm-2 col-form-label-sm">Bölüm</label>
                    <div class="col-sm-10">
                        <SfDropDownList ID="DropBolum" @ref="DropBolum" ShowClearButton="true" TItem="KeyValueDto" CssClass="form-control-sm"
                                        TValue="int?" PopupHeight="230px"
                                        @bind-Value="@reqOgrTopAtaDto.BolumId" DataSource="@bolumDtos">
                            <DropDownListEvents TValue="int?" ValueChange="BolumToProgram"></DropDownListEvents>
                            <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="DropProgram" class="col-sm-2 col-form-label-sm">Program</label>
                    <div class="col-sm-10">
                        <SfDropDownList ID="DropProgram" @ref="DropProgram" ShowClearButton="true" TItem="KeyValueDto" CssClass="form-control-sm"
                                        TValue="int?" PopupHeight="230px"
                                        @bind-Value="@reqOgrTopAtaDto.ProgramId" DataSource="@programDtos">
                            <DropDownListEvents TValue="int?" ValueChange="ValChange"></DropDownListEvents>
                            <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="DropKayitNeden" class="col-sm-2 col-form-label-sm">Kayit Nedeni</label>
                    <div class="col-sm-6">
                        <SfDropDownList ID="DropKayitNeden" @ref="DropKayitNeden" ShowClearButton="true" TItem="KeyValueDto" CssClass="form-control-sm"
                                        TValue="int?" PopupHeight="230px"
                                        @bind-Value="@reqOgrTopAtaDto.KayitNedenId" DataSource="@kayitNedenDtos">
                            <DropDownListEvents TValue="int?" ValueChange="ValChange"></DropDownListEvents>
                            <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                    @*<label for="DropOgrDurum" class="col-sm-1 col-form-label-sm">Durum</label>*@
                    <div class="col-sm-4">
                        <SfDropDownList ID="DropOgrDurum" @ref="DropOgrDurum" ShowClearButton="true" TItem="KeyValueDto" CssClass="form-control-sm"
                                        TValue="int?" PopupHeight="230px" Placeholder="Durum"
                                        @bind-Value="@reqOgrTopAtaDto.OgrenimDurumId" DataSource="@ogrenimDurumDtos">
                            <DropDownListEvents TValue="int?" ValueChange="ValChange"></DropDownListEvents>
                            <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="DropSinif" class="col-sm-2 col-form-label-sm">Sınıf/Cinsiyet</label>
                    <div class="col-sm-3">
                        <SfDropDownList ID="DropSinif" @ref="DropSinif" ShowClearButton="true" TItem="SinifDto" CssClass="form-control-sm"
                                        TValue="int?"
                                        @bind-Value="@(reqOgrTopAtaDto.Sinif)" DataSource="@sinifDtos">
                            <DropDownListEvents TValue="int?" ValueChange="onSinifChange"></DropDownListEvents>
                            <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                    @*<label for="DropCinsiyet" class="col-sm-1 col-form-label-sm">Cinsiyet</label>*@
                    <div class="col-sm-3">
                        <SfDropDownList ID="DropCinsiyet" @ref="DropCinsiyet" ShowClearButton="true" TItem="KeyValueDto" CssClass="form-control-sm"
                                        TValue="int?" PopupHeight="230px"
                                        @bind-Value="@reqOgrTopAtaDto.Cinsiyet" DataSource="@cinsiyetDtos">
                            <DropDownListEvents TValue="int?" ValueChange="onCinsChange"></DropDownListEvents>
                            <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                    <div class="col-sm-4">
                        <SfButton OnClick="Refresh" CssClass="e-success col-sm-12 form-control-sm">Bul / Yenile</SfButton>
                    </div>
                </div>
            </div>



            <div class="col-sm-12 col-md-5 border-left">
                <div class="control-section e-tab-section">
                    <SfTab @ref="Tab" CssClass="BlazorTab" LoadOn="ContentLoad.Dynamic">
                        <TabEvents Created="TabCreate" Selecting="OnTabSelecting"></TabEvents>
                        <TabItems>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Danışman Atama"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="col-sm-12 col-md-12">

                                        <div class="form-group row">
                                            <label class="col-sm-12 col-form-label-sm" style="color:red">Toplu danışman atama işlemi gerçekleştiriyorsunuz!</label>
                                        </div>

                                        <div class="form-group row">

                                            <div class="col-sm-10">
                                                <SfTextBox @bind-Value="@selectedAka" CssClass="form-control-sm" Placeholder="Seçtiğiniz danışmanın adı.."></SfTextBox>
                                            </div>
                                            <div class="col-sm-1">
                                                <SfButton OnClick="DanismanEkle" IconCss="e-btn-sb-icons e-icons e-Circle_Add e-round" IconPosition="IconPosition.Right" IsPrimary="true" CssClass="form-control-sm"></SfButton>
                                            </div>
                                        </div>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Müfredat Atama"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="col-sm-12 col-md-12">

                                        <div class="form-group row">
                                            <label class="col-sm-12 col-form-label-sm" style="color:red">Toplu müfreadat atama işlemi gerçekleştiriyorsunuz!</label>
                                        </div>

                                        <div class="form-group row">

                                            <div class="col-sm-10">
                                                <SfTextBox @bind-Value="@selectedMuf" CssClass="form-control-sm" Placeholder="Seçtiğiniz müfredat adı.."></SfTextBox>
                                            </div>
                                            <div class="col-sm-1">
                                                <SfButton OnClick="MufredatEkle" IconCss="e-btn-sb-icons e-icons e-Circle_Add e-round" IconPosition="IconPosition.Right" IsPrimary="true" CssClass="form-control-sm"></SfButton>
                                            </div>
                                        </div>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Öğrenim Durumu Atama"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="col-sm-12 col-md-12">

                                        <div class="form-group row">
                                            <label class="col-sm-12 col-form-label-sm" style="color:red">Toplu öğrenim Durumu atama işlemi gerçekleştiriyorsunuz!</label>
                                        </div>

                                        <div class="form-group row">

                                            <div class="col-sm-10">
                                                <SfTextBox @bind-Value="@selectedOgrDur" CssClass="form-control-sm" Placeholder="Seçtiğiniz öğrenim durumu adı.."></SfTextBox>
                                            </div>
                                            <div class="col-sm-1">
                                                <SfButton OnClick="OgrDurEkle" IconCss="e-btn-sb-icons e-icons e-Circle_Add e-round" IconPosition="IconPosition.Right" IsPrimary="true" CssClass="form-control-sm"></SfButton>
                                            </div>
                                        </div>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                        </TabItems>
                    </SfTab>
                </div>
            </div>
        </div>



        @if (reqOgrTopAtaDto.ProgramId != 0)
        {
            <div class="row pb-2 bg-light text-dark">
                @*<SfGrid TValue="ResOgrTopAtaFilters" ID="OgrencilerGrid" @ref="OgrencilerGrid" RowHeight="20" AllowPaging="true" AllowFiltering="true">
                        <SfDataManager Url="odata/ogrencis" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
                        <GridColumns>
                            <GridColumn Visible="false" Field=@nameof(ResOgrTopAtaFilters.OgrenciId) IsIdentity="true" IsPrimaryKey="true"></GridColumn>
                            <GridColumn AutoFit="true" Field=@nameof(ResOgrTopAtaFilters.OgrenciNo) HeaderText="OgrenciNo"></GridColumn>
                            <GridColumn Field=@nameof(ResOgrTopAtaFilters.AdSoyad) HeaderText="AdSoyad"></GridColumn>
                            <GridColumn Field=@nameof(ResOgrTopAtaFilters.Sinif) HeaderText="Sinif"></GridColumn>
                            <GridColumn AutoFit="true" Field=@nameof(ResOgrTopAtaFilters.KayitTarih) Format="d" HeaderText="T+U"></GridColumn>
                            <GridColumn AutoFit="true" Field=@nameof(ResOgrTopAtaFilters.Danisman) HeaderText="Danışman"></GridColumn>
                            <GridColumn AutoFit="true" Field=@nameof(ResOgrTopAtaFilters.DanismanIki) HeaderText="2.Danışman"></GridColumn>
                            <GridColumn AutoFit="true" Field=@nameof(ResOgrTopAtaFilters.Program) HeaderText="Snf"></GridColumn>
                        </GridColumns>
                    </SfGrid>*@

                <SfGrid Query="@topAtaQuery" TValue="OgrenciDto" ID="OgrencilerGrid" @ref="OgrencilerGrid" AllowPaging="true" AllowFiltering="true">
                    <SfDataManager Url="@(OdataQuery)" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
                    <GridSelectionSettings CheckboxOnly="true" PersistSelection="true"></GridSelectionSettings>
                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                    <GridColumns>
                        <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
                        <GridColumn Visible="false" Field=@nameof(OgrenciDto.Id) IsPrimaryKey="true"></GridColumn>
                        <GridColumn AutoFit="true" Field=@nameof(OgrenciDto.OgrNo) HeaderText="OgrenciNo"></GridColumn>
                        <GridColumn Field=@nameof(OgrenciDto.Ad) HeaderText="Ad"></GridColumn>
                        <GridColumn Field=@nameof(OgrenciDto.Soyad) HeaderText="Soyad"></GridColumn>
                        <GridColumn Field=@nameof(OgrenciDto.Sinif) HeaderText="Sinif"></GridColumn>
                        <GridColumn AutoFit="true" Field=@nameof(OgrenciDto.KayitTarih) Format="d" Type="ColumnType.Date" HeaderText="KayitTarih"></GridColumn>
                        <GridColumn AutoFit="true" Field="Danisman.Ad" HeaderText="Danışman"></GridColumn>
                        <GridColumn AutoFit="true" Field="Program.Ad" HeaderText="Program"></GridColumn>
                        <GridColumn AutoFit="true" Field="Mufredat.Ad" HeaderText="Müfredat"></GridColumn>
                        <GridColumn AutoFit="true" Field="OgrenimDurum.Ad" HeaderText="Öğrnm. Durum"></GridColumn>
                    </GridColumns>
                </SfGrid>

                @*<SfGrid TValue="OgrenciDto" ID="OgrencilerGrid" @ref="OgrencilerGrid" RowHeight="20"  AllowPaging="true" AllowFiltering="true" ShowColumnMenu="true">
                        <SfDataManager Url="@OdataQuery" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
                        <GridColumns>
                            <GridColumn Visible="false" Field=@nameof(OgrenciDto.Id) IsIdentity="true" IsPrimaryKey="true"></GridColumn>
                            <GridColumn Field=@nameof(OgrenciDto.Ad) HeaderText="Ad"></GridColumn>
                            <GridColumn Field=@nameof(OgrenciDto.Soyad) HeaderText="Soyad"></GridColumn>
                        </GridColumns>
                    </SfGrid>*@

            </div>
        }
        else
        {
            <p>Program seçimi yapmalısınız.</p>
        }



    </div>
</div>


@if (akademisyenDialogOpen)
{
    <Dialog Baslik="Akademisyenler" @bind-isDialogOpen="@akademisyenDialogOpen">
        <div class="row">
            <SfGrid ID="AkademisyenGrid" @ref="AkademisyenGrid" TValue="AkademisyenDto" RowHeight="20" AllowSorting="true" AllowPaging="true" AllowFiltering="true">
                <SfDataManager Url="odata/akademisyens" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
                <GridEvents TValue="AkademisyenDto" CommandClicked="CommandClickHandlerAkademisyen"></GridEvents>
                <GridColumns>
                    <GridColumn Visible="false" Field=@nameof(AkademisyenDto.Id) IsPrimaryKey="true" TextAlign="TextAlign.Right"></GridColumn>
                    <GridColumn Field=@nameof(AkademisyenDto.Ad) HeaderText="Ad"></GridColumn>
                    <GridColumn Field=@nameof(AkademisyenDto.Soyad) HeaderText="Soyad"></GridColumn>
                    <GridColumn Field=@nameof(AkademisyenDto.TCKN) HeaderText="TCKN"></GridColumn>
                    <GridColumn Field=@nameof(AkademisyenDto.OgrtNo) HeaderText="Akademisyen No"></GridColumn>
                    <GridColumn>
                        <GridCommandColumns>
                            <GridCommandColumn Type="CommandButtonType.None" Title="Akademisyen Ekle" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-Circle_Add", CssClass="e-flat" })"></GridCommandColumn>
                        </GridCommandColumns>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </Dialog>
}

@if (mufredatDialogOpen)
{
    <Dialog Baslik="Müfredatlar" @bind-isDialogOpen="@mufredatDialogOpen">
        <div class="row">
            <SfGrid ID="MufreadatGrid" @ref="MufreadatGrid" TValue="MufredatDto" RowHeight="20" AllowSorting="true" AllowPaging="true" AllowFiltering="true">
                <SfDataManager Url=@($"odata/mufredats?$filter=programId eq {reqOgrTopAtaDto.ProgramId}") Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
                <GridEvents TValue="MufredatDto" CommandClicked="CommandClickHandlerMufreadat"></GridEvents>
                <GridColumns>
                    <GridColumn Visible="false" Field=@nameof(MufredatDto.Id) IsPrimaryKey="true" TextAlign="TextAlign.Right"></GridColumn>
                    <GridColumn Field=@nameof(MufredatDto.Ad) HeaderText="Ad"></GridColumn>
                    <GridColumn Field=@nameof(MufredatDto.Yil) HeaderText="Yil"></GridColumn>
                    <GridColumn Field=@nameof(MufredatDto.BasTarih) Format="d" HeaderText="Baslangıç Tarih"></GridColumn>
                    <GridColumn>
                        <GridCommandColumns>
                            <GridCommandColumn Type="CommandButtonType.None" Title="Mufredat Ekle" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-Circle_Add", CssClass="e-flat" })"></GridCommandColumn>
                        </GridCommandColumns>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </Dialog>
}

@if (ogrDurumDialogOpen)
{
    <Dialog Baslik="Öğrenim Durumları" @bind-isDialogOpen="@ogrDurumDialogOpen">
        <div class="row">
            <SfGrid ID="OgrenimDurumGrid" @ref="OgrenimDurumGrid" TValue="OgrenimDurumDto" RowHeight="20" AllowSorting="true" AllowPaging="true" AllowFiltering="true">
                <SfDataManager Url="odata/ogrenimDurums" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
                <GridEvents TValue="OgrenimDurumDto" CommandClicked="CommandClickHandlerOgrDurum"></GridEvents>
                <GridColumns>
                    <GridColumn Visible="false" Field=@nameof(OgrenimDurumDto.Id) IsPrimaryKey="true" TextAlign="TextAlign.Right"></GridColumn>
                    <GridColumn Field=@nameof(OgrenimDurumDto.Ad) HeaderText="Ad"></GridColumn>
                    <GridColumn>
                        <GridCommandColumns>
                            <GridCommandColumn Type="CommandButtonType.None" Title="OgrDurum Ekle" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-Circle_Add", CssClass="e-flat" })"></GridCommandColumn>
                        </GridCommandColumns>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </Dialog>
}


<Dialog Baslik="Uyarı!" @bind-isDialogOpen="@isUyariOpen">
    <p>@dialogUyariText</p>
</Dialog>


<style>
    .form-group {
        margin-bottom: 0.2rem;
    }


    input.e-input, .e-input-group input, .e-input-group.e-control-wrapper input, .e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input {
        height: auto;
    }

    .col-form-label-sm {
        padding-bottom: unset;
        font-size: .775rem;
    }

    .e-tab .e-tab-header::before {
        border-color: #69e0f0;
        border-style: solid;
    }

    .e-tab .e-tab-header .e-toolbar-item.e-active {
        border: 1px solid #dee2e6;
        background-color: #69e0f0;
    }

    .e-tab .e-tab-header:not(.e-vertical) .e-toolbar-item.e-active {
        border-bottom: 1px solid #69e0f0;
    }

    .e-Circle_Add::before {
        content: '\e755';
    }

    .e-Circle_Remove::before {
        content: '\e742';
        color: #3ec9e8;
    }
</style>