@page "/admin_ogrenci_islem"
@using Syncfusion.Blazor.Navigations
@using UniLife.CommonUI.Pages.Admin.OgrenciIslem.OgrenciIslemTabs
@using UniLife.Shared.Dto.Definitions
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@using Syncfusion.Blazor.Buttons
@inject AppState appState
@attribute [Authorize(Roles = "Administrator,Personel")]

@if (appState.OgrenciState != null)
{

    <div class="card">
        <div class="table-responsive">
            <table class="table" style="margin-bottom: 0px;">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                </colgroup>
                <tbody style="font-size: 13px;">
                    <tr>
                        <td rowspan="4" style="text-align: center;">
                            <SfButton IconCss="e-icons e-DoubleArrowLeft" EnableRtl="true" OnClick="@(() => { appState.OgrenciState = null; })" CssClass="e-flat col-sm-2 e-outline azkenar"></SfButton>
                            <img class="photo" src="@UriHelper.ToAbsoluteUri($"/_content/UniLife.CommonUI/images/ogrenci/{appState.OgrenciState.ApplicationUserId.ToString()}.png")" alt="@_OgrenciDto.Id" />
                        </td>
                        <td>
                            <span style="font-weight: 500;">Ad Soyad: </span> @($"{appState.OgrenciState.Ad} {appState.OgrenciState.Soyad}")
                        </td>
                        <td>
                            <span style="font-weight: 500;">Öğrenci No: </span> @appState.OgrenciState.OgrNo
                        </td>
                        <td>
                            <span style="font-weight: 500;">Öğrenim Durum: </span> @(appState.OgrenciState.Durum?"Aktif":"")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: 500;">Kayıt Tarih: </span> @(appState.OgrenciState.KayitTarih==null?"": appState.OgrenciState.KayitTarih.Value.ToShortDateString())
                        </td>
                        <td>
                            <span style="font-weight: 500;">Fakülte: </span> @(appState.OgrenciTempState!=null ? appState.OgrenciTempState.FakulteAdi :"")
                        </td>
                        <td>
                            <span style="font-weight: 500;">TCKN: </span> @appState.OgrenciState.TCKN
                        </td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: 500;">Bağlı Müfredat: </span> @(appState.OgrenciTempState != null ? appState.OgrenciTempState.MufredatAdi:"")
                        </td>
                        <td>
                            <span style="font-weight: 500;">Program: </span> @(appState.OgrenciTempState!=null?appState.OgrenciTempState.ProgramAdi:"")
                        </td>
                        <td>
                            <span style="font-weight: 500;">Genel Bakiye: </span> @appState.OgrenciState.GenelBakiye
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

}

<div class="control-section e-tab-section" style="padding-top: 10px;">
    <SfTab @ref="Tab" LoadOn="ContentLoad.Dynamic">
        @*Selected="OnTabSelected" Selecting="OnTabSelecting"*@
        <TabEvents Selected="OnTabSelected" Created="TabCreate" Selecting="OnTabSelecting"></TabEvents>
        <TabItems>
            <TabItem Visible="@(appState.OgrenciState==null)">
                <ChildContent>
                    <TabHeader Text="Öğrenciler"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <Ogrenciler OgrenciToAkademik="OgrenciToAkademik"></Ogrenciler>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(appState.OgrenciState!=null)">
                <ChildContent>
                    <TabHeader Text="Akademik Bilgiler"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciDuzenle AkademikToOgrenci="TabDegis" _OgrenciDto="@(appState.OgrenciState)"></OgrenciDuzenle>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(appState.OgrenciState!=null)">
                <ChildContent>
                    <TabHeader Text="Ders Kayıt"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <DersKayit _OgrenciDto="@(appState.OgrenciState)"></DersKayit>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(appState.OgrenciState!=null)">
                <ChildContent>
                    <TabHeader Text="Müfredat Dersleri"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciMufredatDersler OgrId="appState.OgrenciState.Id"></OgrenciMufredatDersler>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(appState.OgrenciState!=null)">
                <ChildContent>
                    <TabHeader Text="Dönem Bilgileri"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciDonemDersler OgrId="appState.OgrenciState.Id"></OgrenciDonemDersler>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(appState.OgrenciState!=null)">
                <ChildContent>
                    <TabHeader Text="Dosyalar"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciDosya _OgrenciDto="@(appState.OgrenciState)"></OgrenciDosya>
                </ContentTemplate>
            </TabItem>
            @*<TabItem Visible="@(OgrSelected)">
            <ChildContent>
                <TabHeader Text="Notlar"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <OgrenciNotlar></OgrenciNotlar>
            </ContentTemplate>
        </TabItem>*@
            <TabItem Visible="@(appState.OgrenciState!=null)">
                <ChildContent>
                    <TabHeader Text="Nûfus Bilgileri"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciNufus _OgrenciDto="@(appState.OgrenciState)"></OgrenciNufus>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(appState.OgrenciState!=null)">
                <ChildContent>
                    <TabHeader Text="Askerlik Bilgileri"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciAskerlik _OgrenciDto="@(appState.OgrenciState)"></OgrenciAskerlik>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(appState.OgrenciState!=null)">
                <ChildContent>
                    <TabHeader Text="Ösym Bilgileri"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciOsym _OgrenciDto="@(appState.OgrenciState)"></OgrenciOsym>
                </ContentTemplate>
            </TabItem>
            @if (appState.OgrenciState != null)
            {
                if (appState.OgrenciState.Fakulte.OgrenimTurId == (int)OgrenimTurEnum.Doktora
                   || appState.OgrenciState.Fakulte.OgrenimTurId == (int)OgrenimTurEnum.Yüksek_Lisans
                   || appState.OgrenciState.Fakulte.OgrenimTurId == (int)OgrenimTurEnum.Tezsiz_Yüksek_Lisans)
                {
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="Yüksek Lisans"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <OgrenciYuksek _OgrenciDto="@(appState.OgrenciState)"></OgrenciYuksek>
                        </ContentTemplate>
                    </TabItem>
                }
            }
            <TabItem Visible="@(appState.OgrenciState!=null)">
                <ChildContent>
                    <TabHeader Text="Harç Bilgileri ?"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciHarc _OgrenciDto="@(appState.OgrenciState)"></OgrenciHarc>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(appState.OgrenciState!=null)">
                <ChildContent>
                    <TabHeader Text="Burs Başarı"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciBursBasari _OgrenciDto="@(appState.OgrenciState)"></OgrenciBursBasari>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@(appState.OgrenciState!=null)">
                <ChildContent>
                    <TabHeader Text="Diğer Bilgiler" IconCss="e-icons e-Menu" IconPosition="right"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciDiger _OgrenciDto="@(appState.OgrenciState)"></OgrenciDiger>
                </ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
</div>

@**@


@code{

    //bool OgrSelected = false;

    SfTab Tab;
    public OgrenciDto _OgrenciDto { get; set; } = new OgrenciDto();

    public void TabDegis(int tabIndex)
    {
        //Tab.HideTab(0, !(tabIndex == 0));
        //Tab.HideTab(1, !(tabIndex > 0));
        //Tab.HideTab(2, !(tabIndex > 0));
        //Tab.HideTab(3, !(tabIndex > 0));
        //Tab.HideTab(4, !(tabIndex > 0));
        //Tab.HideTab(5, !(tabIndex > 0));
        //Tab.HideTab(6, !(tabIndex > 0));
        //Tab.HideTab(7, !(tabIndex > 0));
        //Tab.HideTab(7, !(tabIndex > 0));
        //Tab.HideTab(8, !(tabIndex > 0));
        //Tab.HideTab(9, !(tabIndex > 0));
        Tab.Select(tabIndex);
        //OgrSelected = false;
    }

    public void OgrenciToAkademik(OgrenciDto ogrenciDto)
    {

        _OgrenciDto = ogrenciDto;

        TabDegis(1);
        //OgrSelected = true;
    }

    public void TabCreate()
    {
        //Tab.EnableTab(0, true);
        //Tab.EnableTab(1, false);
        //Tab.EnableTab(2, false);
        //Tab.EnableTab(3, false);
        //Tab.EnableTab(4, false);
        //Tab.EnableTab(5, false);
        //Tab.EnableTab(6, false);
        //Tab.EnableTab(7, false);

        //Tab.EnableTab(0, false);
        //Tab.HideTab(1, true);
        //Tab.HideTab(2, true);
        //Tab.HideTab(3, true);
        //Tab.HideTab(4, true);
        //Tab.HideTab(5, true);
        //Tab.HideTab(6, true);
        //Tab.HideTab(7, true);
        //Tab.HideTab(8, true);
        //Tab.HideTab(9, true);

    }

    public async void onDonemChange()
    {
        await Tab.Select(Tab.SelectedItem);
    }

    public void OnTabSelected(SelectEventArgs args)
    {
        if (args.Name == "Öğrenciler")
        {
            //OgrSelected = false;
            appState.OgrenciState = null;
        }
    }
    public void OnTabSelecting(SelectingEventArgs args)
    {
        if (args.IsSwiped)
        {
            args.Cancel = true;
        }
    }
}




<style>
    /*.tab_content .e-content .e-item {
        font-size: 12px;
        padding: 10px;
        text-align: justify;
        background-color: red;
    }*/

    .e-tab .e-tab-header::before {
        border-color: #69e0f0;
        border-style: solid;
    }

    .e-tab .e-tab-header .e-toolbar-item.e-active {
        border: 1px solid #dee2e6;
        background-color: #69e0f0;
    }

    .e-tab .e-tab-header:not(.e-vertical) .e-toolbar-item.e-active {
        border-bottom: 1px solid #69e0f0;
    }

    .e-DoubleArrowRight:before {
        content: '\e7bb';
        color: #3ec9e8;
    }

    .e-Menu:before {
        content: '\e7cd';
        color: #13b6d6;
    }


    .detailtable td {
        font-size: 13px;
        padding: 4px;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .photo {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0,0,0,0.2);
    }

    .table td, .table th {
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .e-DoubleArrowLeft:before {
        content: '\e7ba';
        color: #12a37c;
    }

    .azkenar {
        margin-right: 20px;
    }
</style>