@inject HttpClient Http
@using UniLife.Shared.Dto.Definitions
@inject IMatToaster matToaster
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

<div style="display:inline-flex">
    <div style="float:left;padding:45px;padding-top:70px"><img class="photo" src="@UriHelper.ToAbsoluteUri($"https://blazor.syncfusion.com/demos/images/Grid/1.png")" alt="@_AkademisyenDto.Id" /></div>
    <div style="padding-top:42px">
        <span style="font-size: x-large;font-weight: bold;">@_AkademisyenDto.Ad @_AkademisyenDto.Soyad </span><br />
        <h5 style="font-weight:400 !important;">@_AkademisyenDto.TCKN</h5><br />
        <span class="title">Mail:</span> <span class="content ">@_AkademisyenDto.Email</span>
    </div>
</div>

@code{
    [Parameter]
    public AkademisyenDto _AkademisyenDto { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ReadAkademisyen();
    }

    async Task ReadAkademisyen()
    {
        try
        {
            ApiResponseDto<AkademisyenDto> apiResponse = await Http.GetFromJsonAsync<ApiResponseDto<AkademisyenDto>>("api/akademisyen/GetAkademisyenWithRelations/" + _AkademisyenDto.Id);

            if (apiResponse.StatusCode == Status200OK)
            {
                _AkademisyenDto = apiResponse.Result;
            }
            else
            {
                matToaster.Add(apiResponse.Message + " : " + apiResponse.StatusCode, MatToastType.Danger, "Öğrenci bilgisi getirilirken hata oluştu!");
            }
        }
        catch (Exception ex)
        {

            matToaster.Add("İncelenmek üzere kayıt edilmiştir. " + ex.Message, MatToastType.Danger, "Hata oluştu!");
        }


    }
}