@inject HttpClient Http
@using UniLife.Shared.Dto.Definitions
@inject IMatToaster matToaster
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@attribute [Authorize(Roles = "Administrator,Personel")]

<div style="display:inline-flex">
    <div style="float:left;padding:45px;padding-top:70px"><img class="photo" src="@UriHelper.ToAbsoluteUri($"https://blazor.syncfusion.com/demos/images/Grid/1.png")" alt="@_PersonelDto.Id" /></div>
    <div style="padding-top:42px">
        <span style="font-size: x-large;font-weight: bold;">@_PersonelDto.Ad @_PersonelDto.Soyad </span><br />
        <h5 style="font-weight:400 !important;">@_PersonelDto.TCKN</h5><br />
        <span class="title">Mail:</span> <span class="content ">@_PersonelDto.Email</span>
    </div>
</div>

@code{
    [Parameter]
    public PersonelDto _PersonelDto { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ReadPersonel();
    }

    async Task ReadPersonel()
    {
        try
        {
            ApiResponseDto<PersonelDto> apiResponse = await Http.GetFromJsonAsync<ApiResponseDto<PersonelDto>>("api/personel/" + _PersonelDto.Id);

            if (apiResponse.StatusCode == Status200OK)
            {
                _PersonelDto = apiResponse.Result;
            }
            else
            {
                matToaster.Add(apiResponse.Message + " : " + apiResponse.StatusCode, MatToastType.Danger, "Öğrenci bilgisi getirilirken hata oluştu!");
            }
        }
        catch (Exception ex)
        {

            matToaster.Add("İncelenmek üzere kayıt edilmiştir. " + ex.Message, MatToastType.Danger, "Hata oluştu!");
        }


    }
}