@using Microsoft.AspNetCore.Components;
@inject NavigationManager navigationManager

<MatNavMenu Multi="true" Class="app-sidebar">

    @*Personel*@
    <AuthorizeView Roles="Personel" Context="AuthorizeContext">
        <Authorized>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri" NavLinkMatch="NavLinkMatch.All">
                <MatIcon>home</MatIcon> <span class="miniHover">Öğrenci Bilgi Sistemi</span>
            </MatNavItem>
        </Authorized>
    </AuthorizeView>





    @*Öğrencinin*@
    <AuthorizeView Roles="Ogrenci" Context="AuthorizeContext">
        <Authorized>
            <MatNavSubMenu>
                <MatNavSubMenuHeader>
                    <MatNavItem AllowSelection="false">
                        <MatIcon>stars</MatIcon><span class="miniHover">Genel İşlemler</span>
                    </MatNavItem>
                </MatNavSubMenuHeader>
                <MatNavSubMenuList>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("ogrenci/Ders_Programi").AbsoluteUri">
                        <MatIcon>business</MatIcon> <span class="miniHover">Ders Programı</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("ogrenci/akaTakvim").AbsoluteUri">
                        <MatIcon>business</MatIcon> <span class="miniHover">Akademik Takvim</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("ogrenci/alDers").AbsoluteUri">
                        <MatIcon>screen_share</MatIcon> <span class="miniHover">Alınan Dersler</span>
                    </MatNavItem>

                </MatNavSubMenuList>
            </MatNavSubMenu>
        </Authorized>
    </AuthorizeView>


    @*Öğprencinin*@
    <AuthorizeView Roles="Ogrenci" Context="AuthorizeContext">
        <Authorized>
            <MatNavSubMenu>
                <MatNavSubMenuHeader>
                    <MatNavItem AllowSelection="false">
                        <MatIcon>stars</MatIcon><span class="miniHover">Ders ve Dönem İşlemleri</span>
                    </MatNavItem>
                </MatNavSubMenuHeader>
                <MatNavSubMenuList>
                    @if (user == null ? false : (user.HasClaim("permission", Permissions.DersKayit.Read) &&
              user.HasClaim("permission", Permissions.DersKayit.Create) &&
              user.HasClaim("permission", Permissions.DersKayit.Update) &&
              user.HasClaim("permission", Permissions.DersKayit.Delete)))
                    {
                        <MatNavItem Href="@navigationManager.ToAbsoluteUri("ogrenci/dersKayit").AbsoluteUri">
                            <MatIcon>business</MatIcon> <span class="miniHover">Ders Kayıt</span>
                        </MatNavItem>
                    }
                    else
                    {
                        <MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri" Disabled="true">
                            <MatIcon>business</MatIcon> <span class="miniHover">Ders Kayıt</span>
                        </MatNavItem>
                    }

                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("ogrenci/notListe").AbsoluteUri">
                        <MatIcon>screen_share</MatIcon> <span class="miniHover">Not Listesi</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("ogrenci/Transkript").AbsoluteUri">
                        <MatIcon>screen_share</MatIcon> <span class="miniHover">Transkript</span>
                    </MatNavItem>

                </MatNavSubMenuList>
            </MatNavSubMenu>
        </Authorized>
    </AuthorizeView>

    @*ogrenci*@
    <AuthorizeView Roles="Ogrenci" Context="AuthorizeContext">
        <Authorized>
            <MatNavSubMenu>
                <MatNavSubMenuHeader>
                    <MatNavItem AllowSelection="false">
                        <MatIcon>stars</MatIcon><span class="miniHover">Kullanıcı İşlemleri</span>
                    </MatNavItem>
                </MatNavSubMenuHeader>
                <MatNavSubMenuList>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("Gelen mesajlar").AbsoluteUri">
                        <MatIcon>business</MatIcon> <span class="miniHover">Gelen Mesajlar</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("ogrenci/belgetalep").AbsoluteUri">
                        <MatIcon>business</MatIcon> <span class="miniHover">Belge Talebi</span>
                    </MatNavItem>

                </MatNavSubMenuList>
            </MatNavSubMenu>
        </Authorized>
        <NotAuthorized>
            @*<MatNavItem Href="@navigationManager.ToAbsoluteUri("tanimlar").AbsoluteUri" Disabled="true">
                    <MatIcon>supervisor_account</MatIcon> <span class="miniHover">Kullanıcı İşlemleri</span>
                </MatNavItem>*@
        </NotAuthorized>
    </AuthorizeView>


    @*Personel*@
    <AuthorizeView Roles="Personel" Context="AuthorizeContext">
        <Authorized>
            <MatNavSubMenu>
                <MatNavSubMenuHeader>
                    <MatNavItem AllowSelection="false">
                        <MatIcon>stars</MatIcon><span class="miniHover">Üniversite Tanımları</span>
                    </MatNavItem>
                </MatNavSubMenuHeader>
                <MatNavSubMenuList>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("tanimlar").AbsoluteUri">
                        <MatIcon>business</MatIcon> <span class="miniHover">Üniversite</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("yoktanimlar").AbsoluteUri">
                        <MatIcon>screen_share</MatIcon> <span class="miniHover">Yök</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("lokasyon_tanimlar").AbsoluteUri">
                        <MatIcon>screen_share</MatIcon> <span class="miniHover">Lokasyon</span>
                    </MatNavItem>

                </MatNavSubMenuList>
            </MatNavSubMenu>
        </Authorized>
    </AuthorizeView>


    @*Personel*@
    <AuthorizeView Roles="Personel" Context="AuthorizeContext">
        <Authorized>
            <MatNavSubMenu>
                <MatNavSubMenuHeader>
                    <MatNavItem AllowSelection="false">
                        <MatIcon>stars</MatIcon><span class="miniHover">Ders Ve Müfredat</span>
                    </MatNavItem>
                </MatNavSubMenuHeader>
                <MatNavSubMenuList>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("MufredatTab").AbsoluteUri">
                        <MatIcon>touch_app</MatIcon> <span class="miniHover">Müfredat</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("donemdersleri").AbsoluteUri">
                        <MatIcon>screen_share</MatIcon> <span class="miniHover">Dönem Dersleri</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("acilandersler").AbsoluteUri">
                        <MatIcon>screen_share</MatIcon> <span class="miniHover">Açılan Dersler</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("sube").AbsoluteUri">
                        <MatIcon>screen_share</MatIcon> <span class="miniHover">Şubelendirme</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("scheduler").AbsoluteUri">
                        <MatIcon>screen_share</MatIcon> <span class="miniHover">Ders Programı Planlama</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("sinavlar").AbsoluteUri">
                        <MatIcon>screen_share</MatIcon> <span class="miniHover">Sınav ve Not</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("ogrenci/ogrenci_toplu_atama").AbsoluteUri">
                        <MatIcon>screen_share</MatIcon> <span class="miniHover">Öğrenci Toplu Atama</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("ogrenci/sinif_atlatma").AbsoluteUri">
                        <MatIcon>screen_share</MatIcon> <span class="miniHover">Öğrenci Sınıf Atlatma</span>
                    </MatNavItem>


                </MatNavSubMenuList>
            </MatNavSubMenu>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Personel" Context="AuthorizeContext">
        <Authorized>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("/admin/ogrenci_islem").AbsoluteUri">
                <MatIcon>supervisor_account</MatIcon> <span class="miniHover">Öğrenci İşlemleri</span>
            </MatNavItem>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("/admin/akademisyen_islem").AbsoluteUri">
                <MatIcon>supervisor_account</MatIcon> <span class="miniHover">Akademisyen İşlemleri</span>
            </MatNavItem>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("/admin/personel_islem").AbsoluteUri">
                <MatIcon>supervisor_account</MatIcon> <span class="miniHover">Personel İşlemleri</span>
            </MatNavItem>
        </Authorized>
    </AuthorizeView>

    @*Personel*@
    <AuthorizeView Roles="Personel" Context="AuthorizeContext">
        <Authorized>
            <MatNavSubMenu>
                <MatNavSubMenuHeader>
                    <MatNavItem AllowSelection="false">
                        <MatIcon>stars</MatIcon><span class="miniHover">Rapor ve İstatistik</span>
                    </MatNavItem>
                </MatNavSubMenuHeader>
                <MatNavSubMenuList>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("ogrenci_rapor").AbsoluteUri">
                        <MatIcon>touch_app</MatIcon> <span class="miniHover">OgrenciRapor</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("ogrenci_ders_rapor").AbsoluteUri">
                        <MatIcon>touch_app</MatIcon> <span class="miniHover">OgrenciDersRapor</span>
                    </MatNavItem>
                </MatNavSubMenuList>
            </MatNavSubMenu>
        </Authorized>
    </AuthorizeView>

    @*Personel*@
    <AuthorizeView Roles="Personel" Context="AuthorizeContext">
        <Authorized>
            <MatNavSubMenu>
                <MatNavSubMenuHeader>
                    <MatNavItem AllowSelection="false">
                        <MatIcon>stars</MatIcon><span class="miniHover">Diploma ve Mezuniyet</span>
                    </MatNavItem>
                </MatNavSubMenuHeader>
                <MatNavSubMenuList>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri">
                        <MatIcon>touch_app</MatIcon> <span class="miniHover">Diploma</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri">
                        <MatIcon>touch_app</MatIcon> <span class="miniHover">Mezuniyet</span>
                    </MatNavItem>
                </MatNavSubMenuList>
            </MatNavSubMenu>
        </Authorized>
    </AuthorizeView>

    @*Personel*@
    <AuthorizeView Roles="Personel" Context="AuthorizeContext">
        <Authorized>
            <MatNavSubMenu>
                <MatNavSubMenuHeader>
                    <MatNavItem AllowSelection="false">
                        <MatIcon>stars</MatIcon><span class="miniHover">Paydaş Kurum İşlemleri</span>
                    </MatNavItem>
                </MatNavSubMenuHeader>
                <MatNavSubMenuList>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri">
                        <MatIcon>touch_app</MatIcon> <span class="miniHover">Paydaş işlemler</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri">
                        <MatIcon>touch_app</MatIcon> <span class="miniHover">Kurum İşlemleri</span>
                    </MatNavItem>
                </MatNavSubMenuList>
            </MatNavSubMenu>
        </Authorized>
    </AuthorizeView>

    @*Personel*@
    <AuthorizeView Roles="Personel" Context="AuthorizeContext">
        <Authorized>
            <MatNavSubMenu>
                <MatNavSubMenuHeader>
                    <MatNavItem AllowSelection="false">
                        <MatIcon>stars</MatIcon><span class="miniHover">AKTS TYYÇ Kataloğu</span>
                    </MatNavItem>
                </MatNavSubMenuHeader>
                <MatNavSubMenuList>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri">
                        <MatIcon>touch_app</MatIcon> <span class="miniHover">Akts işlemler</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri">
                        <MatIcon>touch_app</MatIcon> <span class="miniHover">TYYÇ İşlemleri</span>
                    </MatNavItem>
                </MatNavSubMenuList>
            </MatNavSubMenu>
        </Authorized>
    </AuthorizeView>

    @*Personel*@
    <AuthorizeView Roles="Personel" Context="AuthorizeContext">
        <Authorized>
            <MatNavSubMenu>
                <MatNavSubMenuHeader>
                    <MatNavItem AllowSelection="false">
                        <MatIcon>stars</MatIcon><span class="miniHover">Uzaktan Eğitim İşlemleri</span>
                    </MatNavItem>
                </MatNavSubMenuHeader>
                <MatNavSubMenuList>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri">
                        <MatIcon>touch_app</MatIcon> <span class="miniHover">Bağlantılar</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri">
                        <MatIcon>touch_app</MatIcon> <span class="miniHover">Ayarlar</span>
                    </MatNavItem>
                </MatNavSubMenuList>
            </MatNavSubMenu>
        </Authorized>
    </AuthorizeView>

    @*Personel*@
    <AuthorizeView Roles="Personel" Context="AuthorizeContext">
        <Authorized>
            <MatNavSubMenu>
                <MatNavSubMenuHeader>
                    <MatNavItem AllowSelection="false">
                        <MatIcon>stars</MatIcon><span class="miniHover">Değişim Programı İşlemleri</span>
                    </MatNavItem>
                </MatNavSubMenuHeader>
                <MatNavSubMenuList>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri">
                        <MatIcon>touch_app</MatIcon> <span class="miniHover">Başvurular</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri">
                        <MatIcon>touch_app</MatIcon> <span class="miniHover">Programlar</span>
                    </MatNavItem>
                </MatNavSubMenuList>
            </MatNavSubMenu>
        </Authorized>
    </AuthorizeView>

    @*Akademisyen*@
    <AuthorizeView Roles="Akademisyen" Context="AuthorizeContext">
        <Authorized>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("akademisyen/DersNot").AbsoluteUri" NavLinkMatch="NavLinkMatch.All">
                <MatIcon>stars</MatIcon> <span class="miniHover">Not İşlemleri</span>
            </MatNavItem>
        </Authorized>
    </AuthorizeView>

    @*Akademisyen*@
    <AuthorizeView Roles="Akademisyen" Context="AuthorizeContext">
        <Authorized>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("akademisyen/akaTakvim").AbsoluteUri">
                <MatIcon>stars</MatIcon> <span class="miniHover">Akademik Takvim</span>
            </MatNavItem>
        </Authorized>
    </AuthorizeView>
    @*Akademisyen*@
    <AuthorizeView Roles="Akademisyen" Context="AuthorizeContext">
        <Authorized>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("akademisyen/Danismanlik").AbsoluteUri">
                <MatIcon>stars</MatIcon> <span class="miniHover">Danışmanlık</span>
            </MatNavItem>
        </Authorized>
    </AuthorizeView>

    @*Akademisyen*@
    <AuthorizeView Roles="Akademisyen" Context="AuthorizeContext">
        <Authorized>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("akademisyen/stajNot").AbsoluteUri">
                <MatIcon>stars</MatIcon> <span class="miniHover">Staj Not Girişi</span>
            </MatNavItem>
        </Authorized>
    </AuthorizeView>



    @*<AuthorizeView Policy="@Policies.IsUser" Context="AuthorizeContext">
            <Authorized>
                <MatNavSubMenu>
                    <MatNavSubMenuHeader>
                        <MatNavItem AllowSelection="false">
                            <MatIcon>stars</MatIcon><span class="miniHover">Temp</span>
                        </MatNavItem>
                    </MatNavSubMenuHeader>
                    <MatNavSubMenuList>
                        <MatNavItem Href="@navigationManager.ToAbsoluteUri("todo_list").AbsoluteUri">
                            <MatIcon>list_alt</MatIcon> <span class="miniHover">Todo List</span>
                        </MatNavItem>
                        <MatNavItem Href="@navigationManager.ToAbsoluteUri("drag_and_drop").AbsoluteUri">
                            <MatIcon>touch_app</MatIcon> <span class="miniHover">Drag and Drop</span>
                        </MatNavItem>
                        <MatNavItem Href="@navigationManager.ToAbsoluteUri("screenshots").AbsoluteUri">
                            <MatIcon>screen_share</MatIcon> <span class="miniHover">Screenshots</span>
                        </MatNavItem>
                        <MatNavItem Href="@navigationManager.ToAbsoluteUri("paydas").AbsoluteUri">
                            <MatIcon>screen_share</MatIcon> <span class="miniHover">Paydaş İşlemler</span>
                        </MatNavItem>
                        <MatNavItem Href="@navigationManager.ToAbsoluteUri("deneme").AbsoluteUri">
                            <MatIcon>screen_share</MatIcon> <span class="miniHover">Raporlar</span>
                        </MatNavItem>
                        <MatNavItem Href="@navigationManager.ToAbsoluteUri("dashboard").AbsoluteUri">
                            <MatIcon>screen_share</MatIcon> <span class="miniHover">Dashboard</span>
                        </MatNavItem>
                        <MatNavItem Href="@navigationManager.ToAbsoluteUri("email_view").AbsoluteUri" Disabled="@(!IsLoggedIn)">
                            <MatIcon>inbox</MatIcon> <span class="miniHover">Read Email</span>
                        </MatNavItem>
                        <MatNavItem Href="@navigationManager.ToAbsoluteUri("email").AbsoluteUri" Disabled="@(!IsLoggedIn)">
                            <MatIcon>send</MatIcon> <span class="miniHover">Send Email</span>
                        </MatNavItem>
                        <MatNavItem Href="@navigationManager.ToAbsoluteUri("forum").AbsoluteUri" Disabled="@(!IsLoggedIn)">
                            <MatIcon>forum</MatIcon> <span class="miniHover">Forum</span>
                        </MatNavItem>
                    </MatNavSubMenuList>
                </MatNavSubMenu>
            </Authorized>
        </AuthorizeView>*@


    <AuthorizeView Policy="@Policies.IsAdmin" Context="AuthorizeContext">
        <Authorized>
            <MatNavSubMenu>
                <MatNavSubMenuHeader>
                    <MatNavItem AllowSelection="false">
                        <MatIcon>settings_applications</MatIcon> <span class="miniHover">Otomasyon Yönetimi</span>
                    </MatNavItem>
                </MatNavSubMenuHeader>
                <MatNavSubMenuList>

                    @*<MatNavItem Href="@navigationManager.ToAbsoluteUri("/admin/ogrislem").AbsoluteUri">
                            <MatIcon>supervisor_account</MatIcon> <span class="miniHover">Ogr İşlem</span>
                        </MatNavItem>*@
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("admin/users").AbsoluteUri">
                        <MatIcon>supervisor_account</MatIcon> <span class="miniHover">Kullanıcılar</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("admin/roles").AbsoluteUri">
                        <MatIcon>supervisor_account</MatIcon> <span class="miniHover">Roller</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("admin/Settings").AbsoluteUri">
                        <MatIcon>supervisor_account</MatIcon> <span class="miniHover">Seçenekler</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("admin/blazor_middlware_audit").AbsoluteUri">
                        <MatIcon>change_history</MatIcon> <span class="miniHover">Api Audit Logları</span>
                    </MatNavItem>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri("admin/dBlogViewer").AbsoluteUri">
                        <MatIcon>notes</MatIcon> <span class="miniHover">DB Logları </span>
                    </MatNavItem>
                </MatNavSubMenuList>
            </MatNavSubMenu>
        </Authorized>
        @*<NotAuthorized>
                <MatNavItem Href="@navigationManager.ToAbsoluteUri("admin/users").AbsoluteUri" Disabled="true">
                    <MatIcon>supervisor_account</MatIcon> <span class="miniHover">Admin</span>
                </MatNavItem>
            </NotAuthorized>*@
    </AuthorizeView>


    @*@if (user == null ? false : user.HasClaim("permission", "Akademisyen.Update"))
        {
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("sponsors").AbsoluteUri">
                <MatIcon>attach_money</MatIcon> <span class="miniHover">Sponsors</span>
            </MatNavItem>
        }*@

    @*@if (!IsLoggedIn)
        {*@
    <MatNavSubMenu Class="asagiBos">
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false">
                <MatIcon>stars</MatIcon><span class="miniHover">Online Başvuru İşlemleri</span>
            </MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("/yabanci_Basvuru").AbsoluteUri" NavLinkMatch="NavLinkMatch.All">
                <MatIcon>home</MatIcon> <span class="miniHover">Yabancı Başvuru</span>
            </MatNavItem>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("/yabanci_Basvuru").AbsoluteUri" NavLinkMatch="NavLinkMatch.All">
                <MatIcon>home</MatIcon> <span class="miniHover">Staj Başvurusu</span>
            </MatNavItem>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("/yabanci_Basvuru").AbsoluteUri" NavLinkMatch="NavLinkMatch.All">
                <MatIcon>home</MatIcon> <span class="miniHover">Erasmus Başvurusu</span>
            </MatNavItem>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("/yabanci_Basvuru").AbsoluteUri" NavLinkMatch="NavLinkMatch.All">
                <MatIcon>home</MatIcon> <span class="miniHover">Farabi Başvurusu</span>
            </MatNavItem>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("/yabanci_Basvuru").AbsoluteUri" NavLinkMatch="NavLinkMatch.All">
                <MatIcon>home</MatIcon> <span class="miniHover">Enstitü Başvurusu</span>
            </MatNavItem>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("/yabanci_Basvuru").AbsoluteUri" NavLinkMatch="NavLinkMatch.All">
                <MatIcon>home</MatIcon> <span class="miniHover">Yatay Geçiş Başvurusu</span>
            </MatNavItem>
        </MatNavSubMenuList>
    </MatNavSubMenu>
    @*}*@

</MatNavMenu>

@code {
    public bool IsLoggedIn = false;

    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    ClaimsPrincipal user;

    protected override async Task OnParametersSetAsync()
    {
        IsLoggedIn = false;
        user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            IsLoggedIn = true;
        }

        if (user.IsInRole("Administrator"))
        {
            // Perform some action only available to users in the 'admin' role
            //Console.WriteLine("Administrator");
        }
    }

    //protected override async Task OnInitializedAsync()
    //{
    //    user = (await authenticationStateTask).User;

    //}
}

<style>
    .asagiBos {
        margin-bottom: 40px;
    }
</style>