@page "/acilandersler"
@inject HttpClient Http;
@using UniLife.Shared.Dto.Definitions
@inject IMatToaster matToaster
@using Syncfusion.Blazor.DropDowns
@using System.Net
@using Newtonsoft.Json
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons

<ControlSection>
    <SfGrid @ref="DersAcilanGrid" DataSource="@dersAcilanDtos" AllowSorting="true" AllowFiltering="true" AllowPaging="true">
        <GridEvents OnActionComplete="ActionCompletedHandler" TValue="DersAcilanDto"></GridEvents>
        <GridEditSettings ShowDeleteConfirmDialog="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog">
            <Template>
                @{
                    DersAcilanDto dAcilanContext = (context as DersAcilanDto);
                }

                <div class="row mt-1">
                    <div class="col-sm-12 col-md-6 pb-2">
                        <div class="form-row">
                            <label class="col-md col-form-label" for="Kod">Kod</label>
                            <SfTextBox ID="Kod" CssClass="form-control col-sm-3" Value="@(dAcilanContext.Kod)" Enabled="@false"></SfTextBox>
                            <label class="col-md col-form-label" for="Sube">Sube No</label>
                            <SfTextBox ID="Sube" CssClass="form-control col-sm-3" Value="@(dAcilanContext.Sube.ToString())" Enabled="@false"></SfTextBox>
                            <SfCheckBox Label="Aktif" CssClass="col-sm-3" @bind-Checked="@dAcilanContext.Durum"></SfCheckBox>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 pb-2">
                        <div class="form-row">
                            <label class="col-md col-form-label" for="Tel">Tel</label>
                            <SfTextBox ID="Tel" CssClass="form-control col-sm-2" Value="@(dAcilanContext.Kod)" Enabled="@true"></SfTextBox>
                            <label class="col-md col-form-label" for="Adres">Adres</label>
                            <SfTextBox ID="Adres" CssClass="form-control col-sm-2" Value="@(dAcilanContext.Kod)" Enabled="@true"></SfTextBox>
                            <label class="col-md col-form-label" for="Faks">Faks</label>
                            <SfTextBox ID="Faks" CssClass="form-control col-sm-2" Value="@(dAcilanContext.Kod)" Enabled="@true"></SfTextBox>
                            <label class="col-md col-form-label" for="Web">Web</label>
                            <SfTextBox ID="Web" CssClass="form-control col-sm-2" Value="@(dAcilanContext.Kod)" Enabled="@true"></SfTextBox>
                        </div>
                    </div>
                </div>

            </Template>
        </GridEditSettings>
        <GridColumns>
            <GridColumn Visible="false" Field=@nameof(DersAcilanDto.Id) HeaderText="Açılan Ders ID" Edit="false" AllowEditing="false" TextAlign="TextAlign.Left" Width="140"></GridColumn>
            <GridColumn Field=@nameof(DersAcilanDto.Kod) HeaderText="Kod"></GridColumn>
            <GridColumn Field=@nameof(DersAcilanDto.Ad) HeaderText="Ders Ad" ValidationRules="@(new { required=true})"></GridColumn>
            @*<GridColumn Field=@nameof(DersAcilanDto.Kredi) HeaderText="T+U TODO"></GridColumn>*@
            <GridColumn Field=@nameof(DersAcilanDto.Kredi) HeaderText="Kr"></GridColumn>
            <GridColumn Field=@nameof(DersAcilanDto.Akts) HeaderText="Akts"></GridColumn>
            <GridColumn Field=@nameof(DersAcilanDto.Sinif) HeaderText="Sinif"></GridColumn>
            <GridColumn Field=@nameof(DersAcilanDto.AltKota) HeaderText="Alt-Bol-Top">
                <Template>
                    @{
                        var dersAcilanContext = (context as DersAcilanDto);
                    }
                    <p>@(dersAcilanContext.AltKont + "-"+dersAcilanContext.BolDisKont+"-"+ dersAcilanContext.TopKont)</p>
                </Template>
            </GridColumn>
            <GridColumn Field=@nameof(DersAcilanDto.Zorunlu) HeaderText="Z" EditType="EditType.BooleanEdit" DisplayAsCheckBox="true"></GridColumn>
            <GridColumn Field=@nameof(DersAcilanDto.ProgramId) EditType="EditType.DropDownEdit" HeaderText="Program" ForeignKeyValue="Ad" ForeignKeyField="Id" DataSource="@programDtos" Width="150"></GridColumn>
            <GridColumn Field=@nameof(DersAcilanDto.AkademisyenId) HeaderText="Öğrt Görev" ForeignKeyValue="Ad" ForeignKeyField="Id" DataSource="@akademisyenDtos" Width="150"></GridColumn>
            <GridColumn>
                <GridCommandColumns>
                    <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-edit", CssClass = "e-flat" })"></GridCommandColumn>
                    <GridCommandColumn Type="CommandButtonType.Delete" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-delete", CssClass = "e-flat" })"></GridCommandColumn>
                    <GridCommandColumn Type="CommandButtonType.Save" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-update", CssClass = "e-flat" })"></GridCommandColumn>
                    <GridCommandColumn Type="CommandButtonType.Cancel" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-cancel-icon", CssClass = "e-flat" })"></GridCommandColumn>
                </GridCommandColumns>
            </GridColumn>

        </GridColumns>
    </SfGrid>
</ControlSection>

