
@using UniLife.Shared.Dto.Definitions
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@inject AppState appState

<div class="form-row">

    <MatBlazor.MatHeadline6 class="col-md-3 col-sm-12">Fakülte : @(appState.MufredatState == null?"Bağlı fakülte yok.": appState.MufredatState.FakulteAd)</MatBlazor.MatHeadline6>
    <MatBlazor.MatHeadline6 class="col-md-3 col-sm-12">Bölüm : @(appState.MufredatState == null ? "Bağlı bölüm yok" : appState.MufredatState?.BolumAd)</MatBlazor.MatHeadline6>
    <MatBlazor.MatHeadline6 class="col-md-3 col-sm-12">Program : @(appState.MufredatState == null ? "Bağlı program yok" : appState.MufredatState?.ProgramAd)</MatBlazor.MatHeadline6>
    <MatBlazor.MatHeadline6 class="col-md-3 col-sm-12">Müfredat : @(appState.MufredatState == null ? "Müfredat seçmelisiniz." : appState.MufredatState?.MufredatAd)</MatBlazor.MatHeadline6>

</div>
@*<div class="form-group">
        <div class="col-sm-12">
            <SfDropDownList TValue="int?" TItem="DonemDto" Placeholder="Dönem filtresi..."
                            @bind-Value="@donemId" ShowClearButton="true">
                <SfDataManager Url="odata/donems?$orderby=yil desc" Adaptor="Syncfusion.Blazor.Adaptors.ODataV4Adaptor" CrossDomain=true></SfDataManager>
                <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
            </SfDropDownList>
        </div>
    </div>*@

@if (dersDtos == null)
{
    <LoadingBackground ShowLogoBox="true">
        <label>Dersler Yükleniyor...</label>
    </LoadingBackground>
}
else
{
    @*DataSource="@dersDtos.Where(x => donemId.HasValue ? x.DonemId == donemId : true).ToList()"*@

    <SfGrid ShowColumnChooser="true" @ref="DersGrid" DataSource="@dersDtos" Dialog="DialogParams" Toolbar="@(new List<string>() { "Add","ColumnChooser" })" AllowSorting="true" AllowGrouping="true" AllowFiltering="true" AllowPaging="true" ColumnMenuItems=@MenuItems ShowColumnMenu="true" Width="100%">
        @*<SfDataManager AdaptorInstance="@typeof(CustomAdaptor)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>*@
        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
        <GridGroupSettings ShowDropArea="false" ShowGroupedColumn="false" Columns="@Initial">
            <CaptionTemplate>
                @{
                    var donemContext = (context as CaptionTemplateContext);
                    if (donemContext.Field == "Sinif")
                    {
                        <div><b>@donemContext.Field : @donemContext.Key</b></div>
                    }
                    else
                    {
                        <div><b>@donemContext.ForeignKey</b></div>
                    }
                }

            </CaptionTemplate>
        </GridGroupSettings>
        <GridAggregates>
            <GridAggregate>
                <GridAggregateColumns>
                    <GridAggregateColumn Field=@nameof(DersDto.Akts) Type="AggregateType.Sum" Format="N2">
                        <GroupFooterTemplate>
                            @{
                                var aggregate = (context as AggregateTemplateContext);
                                if (aggregate.Field == "DonemTipId")
                                {
                                    <div>
                                        <p>T : @aggregate.Sum</p>
                                    </div>
                                }
                            }
                        </GroupFooterTemplate>
                    </GridAggregateColumn>
                    <GridAggregateColumn Field=@nameof(DersDto.Kredi) Type="AggregateType.Sum" Format="N2">
                        <GroupFooterTemplate>
                            @{
                                var aggregate = (context as AggregateTemplateContext);
                                if (aggregate.Field == "DonemTipId")
                                {
                                    <div>
                                        <p>T : @aggregate.Sum</p>
                                    </div>
                                }
                            }
                        </GroupFooterTemplate>
                    </GridAggregateColumn>
                </GridAggregateColumns>
            </GridAggregate>
            @*<GridAggregate>
                    <GridAggregateColumns>
                        <GridAggregateColumn Field=@nameof(DersDto.Kredi) Type="AggregateType.Sum" Format="N2">
                            <GroupFooterTemplate>
                                @{
                                    var aggregate = (context as AggregateTemplateContext);
                                    if (aggregate.Field == "DonemId")
                                    {
                                        <div>
                                            <p>T: @aggregate.Sum</p>
                                        </div>
                                    }
                                }
                            </GroupFooterTemplate>
                        </GridAggregateColumn>
                    </GridAggregateColumns>
                </GridAggregate>*@
        </GridAggregates>
        <GridEvents CommandClicked="CommandClickHandler" QueryCellInfo="QueryCellInfoHandler" OnActionComplete="ActionCompletedHandler" TValue="DersDto"></GridEvents>
        <GridEditSettings Dialog="DialogParams" ShowDeleteConfirmDialog="true" AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog">
            <Template>
                @{
                    DersDto dersDto = (context as DersDto);


                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="form-group row">
                                <label for="Ad" class="col-sm-2 col-form-label">Ders Ad</label>
                                <div class="col-sm-10">
                                    <SfTextBox ID="Ad" Placeholder="" CssClass="form-control-sm" @bind-Value="@(dersDto.Ad)"></SfTextBox>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Kod" class="col-sm-2 col-form-label">Ders Kod</label>
                                <div class="col-sm-10">
                                    <SfTextBox ID="Kod" Placeholder="" CssClass="form-control-sm" @bind-Value="@(dersDto.Kod)"></SfTextBox>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="KisaAd" class="col-sm-2 col-form-label">Kisa Ad</label>
                                <div class="col-sm-10">
                                    <SfTextBox ID="KisaAd" Placeholder="" CssClass="form-control-sm" @bind-Value="@(dersDto.KisaAd)"></SfTextBox>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="AdEn" class="col-sm-2 col-form-label">İng. Ad</label>
                                <div class="col-sm-10">
                                    <SfTextBox ID="AdEn" Placeholder="" CssClass="form-control-sm" @bind-Value="@(dersDto.AdEn)"></SfTextBox>
                                </div>
                            </div>
                            @*<div class="form-group row">
                                    <label for="DonemId" class="col-sm-2 col-form-label">Dönem</label>
                                    <div class="col-sm-10">
                                        <SfDropDownList ID="DonemId" CssClass="form-control-sm" @bind-Value="@(dersDto.DonemId)" TValue="int?" TItem="DonemDto" Index="0" DataSource="donemDtos">
                                            <DropDownListFieldSettings Value="Id" Text="Ad"></DropDownListFieldSettings>
                                        </SfDropDownList>
                                    </div>
                                </div>*@
                            <div class="form-group row">
                                <label for="DonemTipId" class="col-sm-2 col-form-label">Dönem Tip</label>
                                <div class="col-sm-10">
                                    <SfDropDownList ID="DonemTipId" CssClass="form-control-sm" @bind-Value="@(dersDto.DonemTipId)" TValue="int?" TItem="DonemTipDto" Index="0" DataSource="donemTipDtos">
                                        <DropDownListFieldSettings Value="Id" Text="Ad"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label" for="DropAltKotaUyg">Ders Neden</label>
                                <div class="col-sm-10">
                                    <SfDropDownList TValue="int?" TItem="DersNedenDto" Placeholder="Neden seçiniz..." CssClass="form-control-sm"
                                                    @bind-Value="@dersDto.DersNedenId">
                                        <SfDataManager Url="odata/dersnedens" Adaptor="Syncfusion.Blazor.Adaptors.ODataV4Adaptor" CrossDomain=true></SfDataManager>
                                        <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                </div>
                            </div>
                            @*<div class="form-group row">
                                    <label for="Durum" class="col-sm-2 col-form-label">Durum</label>
                                    <div class="col-sm-4">
                                        <SfCheckBox ID="Durum" CssClass="form-control-sm" @bind-Checked="@(dersDto.Durum)"></SfCheckBox>
                                    </div>
                                </div>*@
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="form-group row">
                                <label for="Akts" class="col-sm-2 col-form-label">Akts</label>
                                <div class="col-sm-4">
                                    <SfNumericTextBox ID="Akts" Placeholder="" CssClass="form-control-sm" @bind-Value="@(dersDto.Akts)"></SfNumericTextBox>
                                </div>
                                <label for="GecmeNotu" class="col-sm-2 col-form-label">Geçme Notu</label>
                                <div class="col-sm-4">
                                    <SfNumericTextBox ID="GecmeNotu" Placeholder="" CssClass="form-control-sm" @bind-Value="@(dersDto.GecmeNotu)"></SfNumericTextBox>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="OptikKod" class="col-sm-2 col-form-label">OptikKod</label>
                                <div class="col-sm-4">
                                    <SfTextBox ID="OptikKod" Placeholder="" CssClass="form-control-sm" @bind-Value="@(dersDto.OptikKod)"></SfTextBox>
                                </div>
                                <label for="UygSaat" class="col-sm-2 col-form-label">Uyg.Saat</label>
                                <div class="col-sm-4">
                                    <SfNumericTextBox ID="UygSaat" Placeholder="" CssClass="form-control-sm" @bind-Value="@(dersDto.UygSaat)"></SfNumericTextBox>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="LabSaat" class="col-sm-2 col-form-label">Lab.Saat</label>
                                <div class="col-sm-4">
                                    <SfNumericTextBox ID="LabSaat" Placeholder="" CssClass="form-control-sm" @bind-Value="@(dersDto.LabSaat)"></SfNumericTextBox>
                                </div>
                                <label for="Sinif" class="col-sm-2 col-form-label">Sinif</label>
                                <div class="col-sm-4">
                                    <SfNumericTextBox ID="Sinif" CssClass="form-control-sm" @bind-Value="@(dersDto.Sinif)"></SfNumericTextBox>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="TeoSaat" class="col-sm-2 col-form-label">Teo.Saat</label>
                                <div class="col-sm-4">
                                    <SfNumericTextBox ID="TeoSaat" Placeholder="" CssClass="form-control-sm" @bind-Value="@(dersDto.TeoSaat)"></SfNumericTextBox>
                                </div>
                                <label for="Kredi" class="col-sm-2 col-form-label">Kredi</label>
                                <div class="col-sm-4">
                                    <SfNumericTextBox ID="Kredi" Placeholder="" CssClass="form-control-sm" @bind-Value="@(dersDto.Kredi)"></SfNumericTextBox>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="Zorunlu" class="col-sm-2 col-form-label">Zorunlu</label>
                                <div class="col-sm-4">
                                    <SfCheckBox ID="Zorunlu" CssClass="form-control-sm" @bind-Checked="@(dersDto.Zorunlu)"></SfCheckBox>
                                </div>
                                <label for="SecmeliKodu" class="col-sm-2 col-form-label">Seç. Kod</label>
                                <div class="col-sm-4">
                                    <SfTextBox ID="SecmeliKodu" CssClass="form-control-sm" @bind-Value="@(dersDto.SecmeliKodu)" Enabled="@true"></SfTextBox>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label" for="DropAltKotaUyg">Ders Dil</label>
                                <div class="col-sm-4">
                                    <SfDropDownList TValue="int?" TItem="DersDilDto" Placeholder="Dil seçiniz..." CssClass="form-control-sm"
                                                    @bind-Value="@dersDto.DersDilId">
                                        <SfDataManager Url="odata/dersdils" Adaptor="Syncfusion.Blazor.Adaptors.ODataV4Adaptor" CrossDomain=true></SfDataManager>
                                        <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                </div>
                                <label for="durum" class="col-sm-2 col-form-label">Aktif</label>
                                <div class="col-sm-4">
                                    <SfCheckBox ID="durum" CssClass="form-control-sm" @onchange="onChange" @bind-Checked="@(dersDto.Durum)"></SfCheckBox>
                                </div>
                                <div class="col-sm-6"></div>
                                <label class="col-sm-4">@(dersDto.Durum ? "":$"Bağlı old. ders : {dersDto.KancalananDersAd}")</label>
                            </div>
                        </div>
                    </div>

                }
            </Template>

        </GridEditSettings>
        <GridColumns>
            <GridColumn Visible="false" Field=@nameof(DersDto.Id) HeaderText="Fakülte ID" AllowEditing="false" IsPrimaryKey="true" TextAlign="TextAlign.Left" Width="140"></GridColumn>
            <GridColumn Field=@nameof(DersDto.Ad) HeaderText="Ders Ad" ValidationRules="@(new ValidationRules{ Required=true})"></GridColumn>
            <GridColumn Field=@nameof(DersDto.Kod) HeaderText="Ders Kod" ValidationRules="@(new ValidationRules{ Required=true})"></GridColumn>

            @*<GridColumn Field=@nameof(DersDto.KisaAd) HeaderText="KisaAd" Width="170"></GridColumn>*@

            @*<GridColumn Field=@nameof(DersDto.MufredatId) HeaderText="Müfredat" ForeignKeyValue="Ad" ForeignKeyField="Id" DataSource="mufredatDtos" Width="150"></GridColumn>*@
            @*<GridColumn Field=@nameof(DersDto.DonemId) HeaderText="Dönem" ForeignKeyValue="Ad" ForeignKeyField="Id" DataSource="@donemDtos"></GridColumn>*@
            <GridColumn Field=@nameof(DersDto.DonemTipId) HeaderText="Dönem Tip" ForeignKeyValue="Ad" ForeignKeyField="Id" DataSource="@donemTipDtos"></GridColumn>
            <GridColumn Field=@nameof(DersDto.Akts) HeaderText="Akts"></GridColumn>
            <GridColumn Visible="false" Field=@nameof(DersDto.GecmeNotu) HeaderText="GeçmeNotu"></GridColumn>
            <GridColumn Visible="false" Field=@nameof(DersDto.OptikKod) HeaderText="OptikKod"></GridColumn>
            <GridColumn Visible="false" Field=@nameof(DersDto.AdEn) HeaderText="AdEn"></GridColumn>
            <GridColumn Visible="false" Field=@nameof(DersDto.UygSaat) HeaderText="UygSaat"></GridColumn>
            <GridColumn Visible="false" Field=@nameof(DersDto.LabSaat) HeaderText="LabSaat"></GridColumn>
            <GridColumn Visible="false" Field=@nameof(DersDto.TeoSaat) HeaderText="TeoSaat"></GridColumn>
            <GridColumn Field=@nameof(DersDto.Kredi) HeaderText="Kredi"></GridColumn>
            <GridColumn Visible="false" Field=@nameof(DersDto.DersNedenId) HeaderText="DersNedenId"></GridColumn>
            <GridColumn Visible="false" Field=@nameof(DersDto.KancalananDersAd) HeaderText="KancalananDersAd"></GridColumn>
            <GridColumn Visible="false" Field=@nameof(DersDto.DersDilId) HeaderText="DersDilId"></GridColumn>
            <GridColumn AutoFit="true" Field=@nameof(DersDto.Durum) HeaderText="Durum" DisplayAsCheckBox="true"></GridColumn>
            <GridColumn AutoFit="true" Field=@nameof(DersDto.Zorunlu) HeaderText="Zorunlu" DisplayAsCheckBox="true"></GridColumn>
            <GridColumn Visible="false" Field=@nameof(DersDto.AktifDonemdeAcik) HeaderText="AktifDonemdeAcik" DisplayAsCheckBox="true"></GridColumn>
            <GridColumn AutoFit="true" Field=@nameof(DersDto.SecmeliKodu) HeaderText="SecmeliKodu"></GridColumn>
            <GridColumn AutoFit="true" Field=@nameof(DersDto.Sinif) HeaderText="Sinif"></GridColumn>
            <GridColumn>
                <GridCommandColumns>
                    <GridCommandColumn Type="CommandButtonType.None" Title="Dersi Ac" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-SendToBack", CssClass="e-flat" })"></GridCommandColumn>
                    <GridCommandColumn Type="CommandButtonType.Edit" Title="Çokla" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-copy", CssClass="e-flat" })"></GridCommandColumn>
                    <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-edit", CssClass="e-flat" })"></GridCommandColumn>
                    <GridCommandColumn Type="CommandButtonType.Delete" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-delete", CssClass="e-flat" })"></GridCommandColumn>
                    <GridCommandColumn Type="CommandButtonType.Save" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-update", CssClass="e-flat" })"></GridCommandColumn>
                    <GridCommandColumn Type="CommandButtonType.Cancel" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-cancel-icon", CssClass="e-flat" })"></GridCommandColumn>
                </GridCommandColumns>
            </GridColumn>

        </GridColumns>
    </SfGrid>
}


@if (yerineDersDialogOpen)
{
    <Dialog Baslik="Pasif dersin yerine aktif müfredattan başka bir ders seçmek istermisiniz?" @bind-isDialogOpen="@yerineDersDialogOpen">

        <SfGrid TValue="DersDto" Query="@(new Query().Expand(new List<string> { "mufredat($expand=program($select=Ad,Id);$select=Ad,Id)" })
                                             .Where("mufredat/program/Id","equal", yerineExistProgramId)
                                             .Where("mufredat/aktif","equal",true))" RowHeight="20" AllowSorting="true" AllowPaging="true" AllowFiltering="true">
            @*<SfDataManager Url="@($"odata/Derss?$expand=mufredat($expand=program($select=Ad,Id);$select=Ad,Id)&$filter=mufredat/program/Id eq {yerineExistProgramId} and mufredat/aktif eq true")" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>*@
            <SfDataManager Url="@OdataQuery" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
            <GridEvents TValue="DersDto" CommandClicked="CommandClickHandlerDers"></GridEvents>
            <GridColumns>
                <GridColumn Visible="false" Field=@nameof(DersDto.Id) IsPrimaryKey="true" TextAlign="TextAlign.Right"></GridColumn>
                <GridColumn Field=@nameof(DersDto.Ad) HeaderText="Ders Ad"></GridColumn>
                <GridColumn Field=@nameof(DersDto.Kod) HeaderText="Ders Kod"></GridColumn>
                <GridColumn Field="Program.Ad" HeaderText="Program"></GridColumn>
                <GridColumn>
                    <GridCommandColumns>
                        <GridCommandColumn Type="CommandButtonType.None" Title="Ders Ekle" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-Circle_Add", CssClass="e-flat" })"></GridCommandColumn>
                    </GridCommandColumns>
                </GridColumn>
            </GridColumns>
        </SfGrid>

    </Dialog>
}




<Dialog Baslik="Uyarı!" @bind-isDialogOpen="@isUyariOpen">
    <p>@dialogUyariText</p>
</Dialog>

<style>
    /*.form-group {
            margin-bottom: 0.2rem;
        }
        input.e-input, .e-input-group input, .e-input-group.e-control-wrapper input, .e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input {
            height: auto;
        }*/

    .col-form-label {
        /*padding-bottom: unset;*/
        padding-right: unset;
        font-size: .775rem;
    }

    .e-input-group .e-input-group-icon, .e-input-group.e-control-wrapper .e-input-group-icon {
        min-height: unset;
    }

    .e-SendToBack:before {
        content: '\e7fe';
        color: #80d192;
    }

    .form-row {
        margin-right: unset;
        margin-left: unset;
    }
    /*.row {
            margin-right: unset;
            margin-left: unset;
        }*/
    .e-Circle_Add:before {
        content: '\e755';
        color: #31ba13;
    }
</style>
