@page "/mufredat"

@using UniLife.Shared.Dto.Definitions

@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Calendars
@using System.Net
@using Newtonsoft.Json
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Data

<style>
    .e-SendToBack:before {
        content: '\e7fe';
        color: #80d192;
    }
    .e-DoubleArrowRight:before {
        content: '\e7bb';
        color: #e83e8c;
    }
    .col-form-label-sm {
        font-size: .775rem;
    }
</style>

@*DataSource="@mufredatDtos"*@
<SfGrid Width="100%" @ref="MufredatGrid" ID="MufredatGrid" TValue="MufredatDto" Query="@totalQuery" ShowColumnChooser="true" AllowSorting="true" AllowFiltering="true" AllowPaging="true" Toolbar="Toolbaritems"
        ContextMenuItems="@(new List<ContextMenuItemModel>() { new ContextMenuItemModel { Text = "Ders Tanımla", Target = ".e-content", Id = "copywithheader" } })">
    <SfDataManager Url="@OdataQuery" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
    <GridEvents RowSelecting="OnRowSelecting" QueryCellInfo="QueryCellInfoHandler" ContextMenuItemClicked="OnContextMenuClick" CommandClicked="CommandClickHandler" OnActionBegin="OnActionBeginHandler" OnToolbarClick="ToolbarClickHandler" OnActionComplete="ActionCompletedHandler" TValue="MufredatDto"></GridEvents>
    <GridSelectionSettings Type="SelectionType.Multiple" CheckboxOnly="true"></GridSelectionSettings>
    <GridEditSettings Dialog="DialogParams" ShowDeleteConfirmDialog="true" AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog">
        <Template>
            @{
                MufredatDto mufredatInfo = (context as MufredatDto);
                <div class="row pb-2 bg-light text-dark">
                    <div class="col-sm-12 col-md-4">
                        @*<FakBolPrg @bind-ProgramId="programId"*@

                        <FakBolPrg @bind-ProgramId="@(mufredatInfo.ProgramId)"
                                   @bind-BolumId="bolumId"
                                   @bind-FakulteId="fakulteId"
                                   ProgramPlaceHolder="@(plazceHolderProgramAd)"></FakBolPrg>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="form-group row">
                            <label for="Ad" class="col-sm-2 col-form-label-sm">Müfredat Ad</label>
                            <div class="col-sm-4">
                                <SfTextBox ID="Ad" Placeholder="Müfredat Ad" CssClass="form-control-sm" @bind-Value="@(mufredatInfo.Ad)"></SfTextBox>
                            </div>
                            <label for="Yil" class="col-sm-2 col-form-label-sm">Yil</label>
                            <div class="col-sm-4">
                                <SfNumericTextBox ID="Yil" Placeholder="Yil" CssClass="form-control-sm" @bind-Value="@(mufredatInfo.Yil)"></SfNumericTextBox>
                            </div>
                        </div>
                        <div class="form-group  row">
                            <label for="BasTarih" class="col-sm-2 col-form-label-sm">BasTarih</label>
                            <div class="col-sm-4">
                                <SfDatePicker ID="BasTarih" @bind-Value="@mufredatInfo.BasTarih" Placeholder="Kayıt Tarihi"></SfDatePicker>
                            </div>
                            <label for="BitTarih" class="col-sm-2 col-form-label-sm">BitTarih</label>
                            <div class="col-sm-4">
                                <SfDatePicker ID="BitTarih" @bind-Value="@mufredatInfo.BitTarih" Placeholder="Bitiş Tarihi"></SfDatePicker>
                            </div>
                        </div>
                        <div class="form-group  row">
                            <label for="KararTarih" class="col-sm-2 col-form-label-sm">Karar Tarih</label>
                            <div class="col-sm-4">
                                <SfDatePicker ID="KararTarih" @bind-Value="@mufredatInfo.KararTarih" Placeholder="Karar Tarihi"></SfDatePicker>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </Template>
    </GridEditSettings>
    <GridColumns>
        <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
        <GridColumn Visible="false" Field=@nameof(MufredatDto.Id) HeaderText="Müfredat ID" AllowEditing="false" IsPrimaryKey="true" TextAlign="TextAlign.Left"></GridColumn>
        <GridColumn Field=@nameof(MufredatDto.Ad) AllowEditing="true" HeaderText="Müfredat İsim" ValidationRules="@(new ValidationRules{ Required=true})"></GridColumn>
        <GridColumn Field=@nameof(MufredatDto.Yil) HeaderText="Müfredat Yıl" Format="####" ValidationRules="@(new ValidationRules{ Required=true})"></GridColumn>
        <GridColumn AutoFit="true" Field=@nameof(MufredatDto.BasTarih) HeaderText="BasTarih" Format="d" EditType="EditType.DatePickerEdit" ValidationRules="@(new ValidationRules{ Required=true})"></GridColumn>
        <GridColumn AutoFit="true" Field=@nameof(MufredatDto.BitTarih) HeaderText="Bit Tarih" Format="d" EditType="EditType.DatePickerEdit"></GridColumn>
        <GridColumn AutoFit="true" Field=@nameof(MufredatDto.KararTarih) HeaderText="KararTarih" Format="d" EditType="EditType.DatePickerEdit"></GridColumn>
        @*<GridColumn Field=@nameof(MufredatDto.ProgramId) HeaderText="Program" ForeignKeyValue="Ad" ForeignKeyField="Id" DataSource="@programDtos"></GridColumn>*@
        <GridColumn Field="Program.Ad" HeaderText="Program" Type="ColumnType.String"></GridColumn>
        <GridColumn>
            <GridCommandColumns>
                <GridCommandColumn Type="CommandButtonType.None" Title="Tanımlı Dersler" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-DoubleArrowRight", CssClass="e-flat" })"></GridCommandColumn>
                <GridCommandColumn Type="CommandButtonType.None" Title="Clone" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-copy", CssClass="e-flat" })"></GridCommandColumn>
                <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-edit", CssClass="e-flat" })"></GridCommandColumn>
                <GridCommandColumn Type="CommandButtonType.Delete" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-delete", CssClass="e-flat" })"></GridCommandColumn>
                <GridCommandColumn Type="CommandButtonType.Save" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-update", CssClass="e-flat" })"></GridCommandColumn>
                <GridCommandColumn Type="CommandButtonType.Cancel" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-cancel-icon", CssClass="e-flat" })"></GridCommandColumn>
            </GridCommandColumns>
        </GridColumn>
    </GridColumns>
</SfGrid>

<MatDialog Id="multiDialog" @bind-IsOpen="@multiDialogOpen" Style="z-index:100">
    <MatDialogTitle><MatIcon Icon="warning"></MatIcon> Confirm Delete</MatDialogTitle>
    <MatDialogContent>
        "@mufredatDto.Ad" isimli müfredatı çoklamak istediğinize emin misiniz?
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { multiDialogOpen = false; })">Kapat</MatButton>
        <MatButton OnClick="@MultiplyRecord">Çokla</MatButton>
    </MatDialogActions>
</MatDialog>

<Dialog Baslik="Uyarı!" @bind-isDialogOpen="@isUyariOpen">
    <p>@dialogUyariText</p>
</Dialog>

<MatDialog Id="MufredatAcDialog" @bind-IsOpen="@mufredatAcDialogOpen" Style="z-index:100">
    <MatDialogTitle><MatIcon Icon="warning"></MatIcon>Dönem Seçimi</MatDialogTitle>
    <MatDialogContent>
        <p>Seçmiş olduğunuz müfredatların açmak istediğiniz dönemini seçiniz</p>
        <div class="form-row">
            <label class="col-sm-2" for="DropDonem">Dönem:</label>
            <SfDropDownList ID="DropDonem" @ref="DropDonem" TItem="DonemDto" CssClass="col-sm-10 pb-1"
                            TValue="int?" PopupHeight="230px" Placeholder="Dönem Seçiniz"
                            @bind-Value="@(AçilacakMufredatlarınSecilenDonemIdsi)" DataSource="@donemDtos">
                <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
            </SfDropDownList>
        </div>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { mufredatAcDialogOpen = false; })">Kapat</MatButton>
        <MatButton OnClick="@MufredatiAc">Aç</MatButton>
    </MatDialogActions>
</MatDialog>
