@page "/mufredat"

@using UniLife.Shared.Dto.Definitions

@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Calendars
@using System.Net
@using Newtonsoft.Json
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Buttons

@attribute [Authorize(Roles = "Administrator,Personel")]

<div class="card">
    <div class="col-sm-7">
        <FakBolPrg @bind-FakulteId="filterFakulteId"
                   @bind-BolumId="filterBolumId"
                   @bind-ProgramId="filterProgramId"
                   ProgramPlaceHolder=" "
                   ProgramShow="true"></FakBolPrg>
    </div>
    <div class="col-sm-5">
        <SfButton OnClick="Refresh" CssClass="e-success col-sm-12 form-control-sm">Bul / Yenile</SfButton>
    </div>
</div>
@*QueryCellInfo="QueryCellInfoHandler" RowSelecting="OnRowSelecting" *@
<SfGrid @ref="MufredatGrid" ID="MufredatGrid" TValue="MufredatDto" Query="@totalQuery" ShowColumnChooser="true" AllowResizing="true" AllowSorting="true" AllowFiltering="true" AllowPaging="true" Toolbar="Toolbaritems"
        ContextMenuItems="@(new List<ContextMenuItemModel>() { new ContextMenuItemModel { Text = "Ders Tanımla", Target = ".e-content", Id = "copywithheader" } })">
    <SfDataManager Url="@OdataQuery" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
    <GridEvents ContextMenuItemClicked="OnContextMenuClick" CommandClicked="CommandClickHandler" OnActionBegin="OnActionBeginHandler" OnToolbarClick="ToolbarClickHandler" OnActionComplete="ActionCompletedHandler" TValue="MufredatDto"></GridEvents>
    <GridSelectionSettings Type="SelectionType.Multiple" CheckboxOnly="true"></GridSelectionSettings>
    @*<GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>*@
    <GridPageSettings PageCount="5" PageSizes="new int[]{ 5, 10, 50, 100,10000}"></GridPageSettings>
    <GridEditSettings Dialog="DialogParams" ShowDeleteConfirmDialog="true" AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog">
        <Template>
            @{
                MufredatDto mufredatInfo = (context as MufredatDto);
                <div class="row pb-2 bg-light text-dark">
                    <div class="col-sm-12 col-md-4">
                        <FakBolPrg @bind-FakulteId="@(mufredatInfo.FakulteId)"
                                   @bind-BolumId="@(mufredatInfo.BolumId)"
                                   @bind-ProgramId="@(mufredatInfo.ProgramId)"
                                   ProgramPlaceHolder="@(plazceHolderProgramAd)"
                                   ProgramShow="true"></FakBolPrg>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="form-group row">
                            <label for="Ad" class="col-sm-2 col-form-label-sm">Müfredat Ad</label>
                            <div class="col-sm-4">
                                <SfTextBox ID="Ad" Placeholder="Müfredat Ad" CssClass="form-control-sm" @bind-Value="@(mufredatInfo.Ad)"></SfTextBox>
                            </div>
                            <label for="Yil" class="col-sm-2 col-form-label-sm">Yil</label>
                            <div class="col-sm-4">
                                <SfNumericTextBox ID="Yil" Placeholder="Yil" CssClass="form-control-sm" @bind-Value="@(mufredatInfo.Yil)"></SfNumericTextBox>
                            </div>
                        </div>
                        <div class="form-group  row">
                            <label for="BasTarih" class="col-sm-2 col-form-label-sm">BasTarih</label>
                            <div class="col-sm-4">
                                <SfDatePicker ID="BasTarih" @bind-Value="@mufredatInfo.BasTarih" Placeholder="Kayıt Tarihi"></SfDatePicker>
                            </div>
                        </div>
                        <div class="form-group  row">
                            <label for="KararTarih" class="col-sm-2 col-form-label-sm">Karar Tarih</label>
                            <div class="col-sm-4">
                                <SfDatePicker ID="KararTarih" @bind-Value="@mufredatInfo.KararTarih" Placeholder="Karar Tarihi"></SfDatePicker>
                            </div>
                            <div class="col-sm-6">
                                <SfCheckBox Label="Aktif" @bind-Checked="@mufredatInfo.Aktif"></SfCheckBox>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </Template>
    </GridEditSettings>
    <GridSortSettings>
        <GridSortColumns>
            <GridSortColumn Field="Program.Ad" Direction="SortDirection.Ascending"></GridSortColumn>
        </GridSortColumns>
    </GridSortSettings>
    <GridColumns>
        <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
        <GridColumn Visible="false" Field=@nameof(MufredatDto.Id) HeaderText="Müfredat ID" AllowEditing="false" IsPrimaryKey="true" TextAlign="TextAlign.Left"></GridColumn>
        <GridColumn AutoFit="true" Field=@nameof(MufredatDto.Ad) AllowEditing="true" HeaderText="Müfredat İsim" ValidationRules="@(new ValidationRules{ Required=true})"></GridColumn>
        <GridColumn AutoFit="true" Field=@nameof(MufredatDto.Yil) HeaderText="Müfredat Yıl" Format="####" ValidationRules="@(new ValidationRules{ Required=true})"></GridColumn>
        <GridColumn AutoFit="true" Field=@nameof(MufredatDto.BasTarih) HeaderText="Baş Tarih" Format="d" EditType="EditType.DatePickerEdit" ValidationRules="@(new ValidationRules{ Required=true})"></GridColumn>
        @*<GridColumn AutoFit="true" Field=@nameof(MufredatDto.BitTarih) HeaderText="Son Tarih" Format="d" EditType="EditType.DatePickerEdit"></GridColumn>*@
        <GridColumn AutoFit="true" Field=@nameof(MufredatDto.Aktif) HeaderText="Aktif" DisplayAsCheckBox="true"></GridColumn>
        @*<GridColumn AutoFit="true" Field=@nameof(MufredatDto.KararTarih) HeaderText="KararTarih" Format="d" EditType="EditType.DatePickerEdit"></GridColumn>*@
        @*<GridColumn Field=@nameof(MufredatDto.ProgramId) HeaderText="Program" ForeignKeyValue="Ad" ForeignKeyField="Id" DataSource="@programDtos"></GridColumn>*@
        <GridColumn Field="Program.Ad" HeaderText="Program"></GridColumn>
        @*<GridColumn Field="Program.Bolum.Ad" HeaderText="Bolum"></GridColumn>
            <GridColumn Field="Program.Bolum.Fakulte.Ad" HeaderText="Fakulte"></GridColumn>*@
        <GridColumn AutoFit="true" HeaderText="*" Width="178">
            <GridCommandColumns>
                <GridCommandColumn Type="CommandButtonType.None" Title="Tanımlı Dersler" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-DoubleArrowRight", CssClass="e-flat" })"></GridCommandColumn>
                <GridCommandColumn Type="CommandButtonType.Edit" Title="Clone" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-copy", CssClass="e-flat" })"></GridCommandColumn>
                <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-edit", CssClass="e-flat" })"></GridCommandColumn>
                <GridCommandColumn Type="CommandButtonType.Delete" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-delete", CssClass="e-flat" })"></GridCommandColumn>
                <GridCommandColumn Type="CommandButtonType.Save" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-update", CssClass="e-flat" })"></GridCommandColumn>
                <GridCommandColumn Type="CommandButtonType.Cancel" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-cancel-icon", CssClass="e-flat" })"></GridCommandColumn>
            </GridCommandColumns>
        </GridColumn>
    </GridColumns>
</SfGrid>

@*<MatDialog Id="multiDialog" @bind-IsOpen="@multiDialogOpen" Style="z-index:100">
        <MatDialogTitle><MatIcon Icon="warning"></MatIcon> Confirm Delete</MatDialogTitle>
        <MatDialogContent>
            "@mufredatDto.Ad" isimli müfredatı çoklamak istediğinize emin misiniz?
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@(e => { multiDialogOpen = false; })">Kapat</MatButton>
            <MatButton OnClick="@MultiplyRecord">Çokla</MatButton>
        </MatDialogActions>
    </MatDialog>*@

<Dialog Baslik="Uyarı!" @bind-isDialogOpen="@isUyariOpen">
    <p>@dialogUyariText</p>
</Dialog>

<MatDialog Id="MufredatAcDialog" @bind-IsOpen="@mufredatAcDialogOpen" Style="z-index:100">
    <MatDialogTitle><MatIcon Icon="warning"></MatIcon>Dönem Seçimi</MatDialogTitle>
    <MatDialogContent>
        <p>Seçmiş olduğunuz müfredatların açmak istediğiniz dönemini seçiniz</p>
        <div class="form-row">
            @*<label class="col-sm-2" for="DropDonem">Dönem:</label>
                <SfDropDownList ID="DropDonem" @ref="DropDonem" TItem="DonemDto" CssClass="col-sm-10 pb-1"
                                TValue="int?" PopupHeight="230px" Placeholder="Dönem Seçiniz"
                                @bind-Value="@(AçilacakMufredatlarınSecilenDonemTipIdsi)" DataSource="@donemDtos">
                    <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                </SfDropDownList>*@
            <label class="col-sm-2" for="DropDonemTip">Dönem Tip:</label>
            <SfDropDownList ID="DropDonemTip" @ref="DropDonemTip" TItem="DonemTipDto" CssClass="col-sm-10 pb-1"
                            TValue="int?" PopupHeight="230px" Placeholder="Dönem Tip Seçiniz"
                            @bind-Value="@(AçilacakMufredatlarınSecilenDonemTipIdsi)" DataSource="@donemTipDtos">
                <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
            </SfDropDownList>
        </div>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { mufredatAcDialogOpen = false; })">Kapat</MatButton>
        <MatButton OnClick="@MufredatiAc">Aç</MatButton>
    </MatDialogActions>
</MatDialog>



<style>
    .e-SendToBack:before {
        content: '\e7fe';
        color: #80d192;
    }

    .e-DoubleArrowRight:before {
        content: '\e7bb';
        color: #3ec9e8;
    }

    .col-form-label-sm {
        font-size: .775rem;
    }

    .card {
        flex-direction: unset;
    }

    /* .row {
        margin-right: unset;
        margin-left: unset;
    }*/
    .form-group {
        margin-bottom: 0.2rem;
    }

    input.e-input, .e-input-group input, .e-input-group.e-control-wrapper input, .e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input {
        height: auto;
    }

    .col-form-label-sm {
        padding-bottom: unset;
        /*font-size: 0.65rem;*/
        font-size: .775rem;
    }
    .e-grid .e-altrow {
        background-color: #fafafa;
    }

</style>