@page "/SinavIslem"

@using UniLife.Shared.Dto.Definitions
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Data
@using UniLife.Shared.DataModels

@attribute [Authorize(Roles = "Administrator,Personel")]


@if (false)
{
    <LoadingBackground ShowLogoBox="true">
        <label>Sinav Dersleri Yükleniyor...</label>
    </LoadingBackground>
}
else
{
    <div class="row pb-2 card tepe">
        <div class="col-sm-7">
            <FakBolPrg @bind-ProgramId="ProgramId"
                       @bind-BolumId="BolumId"
                       @bind-FakulteId="FakulteId"
                       ProgramPlaceHolder=" "
                       ProgramShow="true"></FakBolPrg>
        </div>
        <div class="col-sm-5">
            <div class="form-group row">
                <label for="DropDonem" class="col-sm-2 col-form-label-sm">Dönem</label>
                <div class="col-sm-10">
                    <SfDropDownList ID="DropDonem" @ref="DropDonem" ShowClearButton="true" TValue="int?" TItem="DonemDto" Placeholder="Dönem seçiniz..."
                                    Query="@donemQuery"
                                    @bind-Value="@DonemId">
                        <SfDataManager Url="odata/donems" Adaptor="Syncfusion.Blazor.Adaptors.ODataV4Adaptor" CrossDomain=true></SfDataManager>
                        <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
            </div>
            <SfButton OnClick="Refresh" CssClass="e-success col-sm-12 form-control-sm">Bul / Yenile</SfButton>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 pb-4" style="padding-left: 0px;padding-right: 0px;">
            <div class="server-action-menu card">

                @*OnRecordClick="OnRecordClickHandler" Toolbar="@(ToolbarDersitems)" OnToolbarClick="ToolbarDersClickHandler" *@
                <SfGrid ID="DersAcGrid" @ref="DersAcGrid" Query="@totalQuery" TValue="DersAcilanForSinav" RowHeight="20" AllowSorting="true" AllowFiltering="true" AllowSelection="true" AllowPaging="true" AllowExcelExport="true" AllowResizing="true" AllowPdfExport="true">
                    <GridEvents RowSelected="RowSelectedHandler" TValue="DersAcilanForSinav" CommandClicked="CommandClickHandler"></GridEvents>
                    <GridSelectionSettings CellSelectionMode="CellSelectionMode.BoxWithBorder" CheckboxOnly="true" Type="SelectionType.Multiple" PersistSelection="true"></GridSelectionSettings>
                    <GridPageSettings PageCount="5" PageSizes="new int[]{ 5, 10, 50, 100,10000}"></GridPageSettings>
                    <SfDataManager Url="@("odata/DersAcilansForSinavs")" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
                    @*<SfDataManager Url="@("odata/dersacilans?$expand=derskayits,akademisyen")" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>*@
                    <GridColumns>
                        <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
                        <GridColumn Visible="false" Field=@nameof(DersAcilanForSinav.Id) HeaderText="Ders ID" IsIdentity="true" IsPrimaryKey="true" TextAlign="TextAlign.Left"></GridColumn>
                        <GridColumn AutoFit="true" Field=@nameof(DersAcilanForSinav.Kod) HeaderText="Ders Kodu"></GridColumn>
                        <GridColumn Field=@nameof(DersAcilanForSinav.Ad) HeaderText="Ders Adı"></GridColumn>
                        <GridColumn Field="AkademisyenAd" HeaderText="Akademisyen"></GridColumn>
                        <GridColumn AutoFit="true" Field=@nameof(DersAcilanForSinav.Sinif) HeaderText="Sinif"></GridColumn>
                        <GridColumn AutoFit="true" Field=@nameof(DersAcilanForSinav.Zorunlu) DisplayAsCheckBox="true" HeaderText="Z"></GridColumn>
                        <GridColumn AutoFit="true" Field=@nameof(DersAcilanForSinav.DersKayitCount) HeaderText="Ö.Sayı"></GridColumn>
                        @*<GridColumn Field="DersKayits@odata.count" HeaderText="Ö.Sayı"></GridColumn>*@
                        <GridColumn>
                            <GridCommandColumns>
                                <GridCommandColumn Type="CommandButtonType.None" Title="Tanımlı Sınavlar" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-DoubleArrowDown", CssClass="e-flat" })"></GridCommandColumn>
                            </GridCommandColumns>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
                @*<SfButton OnClick="TopluButOlustur" CssClass="e-success">Seçilen Derslerin Bütlerini Oluştur.</SfButton>*@
                @*<input type="button" @onclick="Remove" value="remove" />*@
            </div>
        </div>


        <div class="col-sm-12 col-md-12" style="padding-left: 0px;padding-right: 0px;">
            <div class="server-action-menu card">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        @if (SelectedDersAcilans.Count() == 1)
                        {
                            <p>@($"Kod:{SelectedDersAcilans.FirstOrDefault().Kod} Ad:{SelectedDersAcilans.FirstOrDefault().Ad}") Sınav Listesi</p>
                        }
                        else if (SelectedDersAcilans.Count() > 1)
                        {
                            <p>Seçilen derslere sınav oluşturmak için aşağıdaki menüleri kullanabilirsiniz</p>
                        }
                        else
                        {
                            <p>Sınavlar</p>
                        }

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-row">

                            @*açılan ders grid OnRecordClick="OnSinavRecordClickHandler" *@
                            <SfGrid ID="SinavGrid" @ref="SinavGrid" DataSource="@SinavDtos.Where(x=>isShowSinavs).ToList()" TValue="SinavDto" Toolbar="@(Toolbaritems)" AllowSorting="true" AllowFiltering="true" AllowPaging="true" AllowExcelExport="true" AllowPdfExport="true">
                                <GridEvents RowSelected="RowSelectedHandlerSinav" OnActionComplete="ActionCompletedHandler" OnToolbarClick="ToolbarClickHandler" TValue="SinavDto"></GridEvents>
                                <GridEditSettings Dialog="DialogParams" ShowDeleteConfirmDialog="true" AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog">
                                    <Template>
                                        @{
                                            SinavDto sinavInfo = (context as SinavDto);
                                        }


                                        <div class="form-row mt-2">
                                            <div class="col-12 pb-2">
                                                <div class="form-row">
                                                    <label class="col-md-3 col-form-label" for="SinavTipId">Sinav Tip</label>
                                                    <SfDropDownList ID="SinavTipId" CssClass="form-control col-sm-9" @bind-Value="@(sinavInfo.SinavTipId)" TValue="int" TItem="SinavTipDto" Index="0" DataSource="@sinavTipDtos">
                                                        <DropDownListFieldSettings Value="Id" Text="Ad"></DropDownListFieldSettings>
                                                    </SfDropDownList>
                                                    <label class="col-md-3 col-form-label" for="SinavTurId">Sinav Tur</label>
                                                    <SfDropDownList Enabled="false" ID="SinavTurId" CssClass="form-control col-sm-9" @bind-Value="@(sinavInfo.SinavTurId)" TValue="int" TItem="SinavTurDto" Index="0" DataSource="@sinavTurDtos">
                                                        <DropDownListFieldSettings Value="Id" Text="Ad"></DropDownListFieldSettings>
                                                    </SfDropDownList>
                                                    <label class="col-md-3 col-form-label" for="EtkiOran">EtkiOran (%)</label>
                                                    <SfNumericTextBox CssClass="form-control col-sm-9" ID="EtkiOran" Min="0" Max="100" @bind-Value="@(sinavInfo.EtkiOran)" TValue="int?" Format=n0></SfNumericTextBox>
                                                    @*<label class="col-md-3 col-form-label" for="Tarih">Zaman</label>
                                                        <SfDateTimePicker CssClass="form-control col-sm-9" ID="Tarih" TValue="DateTime?" @bind-Value="@(sinavInfo.Tarih)" Placeholder="Lütfen bir tarih seçiniz."></SfDateTimePicker>*@
                                                </div>
                                            </div>

                                        </div>

                                    </Template>
                                </GridEditSettings>
                                <GridColumns>
                                    <GridColumn Visible="false" Field=@nameof(SinavDto.Id) HeaderText="Ders ID" IsIdentity="true" IsPrimaryKey="true" TextAlign="TextAlign.Left"></GridColumn>
                                    <GridColumn Field=@nameof(SinavDto.Tarih) HeaderText="Tarih"></GridColumn>
                                    <GridColumn Field=@nameof(SinavDto.SinavTipId) ValidationRules="@(new ValidationRules{ Required=true})" HeaderText="Tipi" ForeignKeyValue="Ad" ForeignKeyField="Id" DataSource="@sinavTipDtos"></GridColumn>
                                    <GridColumn Field=@nameof(SinavDto.SinavTurId) ValidationRules="@(new ValidationRules{ Required=true})" HeaderText="Türü" ForeignKeyValue="Ad" ForeignKeyField="Id" DataSource="@sinavTurDtos"></GridColumn>
                                    @*<GridColumn Field=@nameof(SinavDto.KisaAd) HeaderText="Kısa Ad"></GridColumn>*@
                                    @*<GridColumn Field=@nameof(SinavDto.SablonAd) HeaderText="Ad Şablon"></GridColumn>*@
                                @*<GridColumn Visible="false" Field=@nameof(SinavDto.IsYayinli)></GridColumn>*@
                                    <GridColumn Field=@nameof(SinavDto.EtkiOran) HeaderText="%"></GridColumn>
                                    <GridColumn Field=@nameof(SinavDto.OgrCount) HeaderText="Ö.Sayı"></GridColumn>

                                </GridColumns>
                            </SfGrid>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="server-action-menu card">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p>Öğrenciler</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @if (OgrGridShow)
                        {
                            <SfGrid ID="OgrenciGrid" @ref="OgrenciGrid" DataSource="@OgrenciDtos" Toolbar="@(new List<string>() { "Add"})" AllowSorting="true" AllowFiltering="true" AllowPaging="true" AllowExcelExport="true" AllowPdfExport="true">
                                <GridEvents OnActionBegin="OnActionBeginHandlerOgrenci" OnActionComplete="ActionCompletedHandlerOgrenci" TValue="OgrenciDto"></GridEvents>
                                <GridEditSettings ShowDeleteConfirmDialog="true" AllowAdding="true" AllowDeleting="true"></GridEditSettings>
                                <GridColumns>
                                    <GridColumn Visible="false" Field=@nameof(OgrenciDto.Id) HeaderText="Ders ID" IsIdentity="true" IsPrimaryKey="true" TextAlign="TextAlign.Left"></GridColumn>
                                    <GridColumn Field=@nameof(OgrenciDto.Ad) HeaderText="Ad"></GridColumn>
                                    <GridColumn Field=@nameof(OgrenciDto.Soyad) HeaderText="Soyad"></GridColumn>
                                    <GridColumn Field=@nameof(OgrenciDto.OgrNo) HeaderText="Öğrenci No"></GridColumn>
                                    <GridColumn Field=@nameof(OgrenciDto.TCKN) HeaderText="TCKN"></GridColumn>
                                    <GridColumn>
                                        <GridCommandColumns>
                                            <GridCommandColumn Type="CommandButtonType.Delete" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-delete", CssClass = "e-flat" })"></GridCommandColumn>
                                        </GridCommandColumns>
                                    </GridColumn>
                                </GridColumns>
                            </SfGrid>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
}



@if (ogrenciSecDialogOpen)
{
    <Dialog Baslik="Öğrenci Listesi" @bind-isDialogOpen="@ogrenciSecDialogOpen">
        <div class="row">
            <SfGrid ID="SecmeliOgrenciGrid" @ref="SecmeliOgrenciGrid" TValue="DersKayitDto" RowHeight="20" AllowSorting="true" AllowPaging="true" AllowFiltering="true">
                <SfDataManager Url="@($"odata/derskayits?$expand=Ogrenci($select=Id,Ad,Soyad,Ogrno)&$filter=dersAcilanId eq {SelectedSinav.DersAcilanId}&$select=Id,OgrenciId")" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
                <GridEvents TValue="DersKayitDto" CommandClicked="CommandClickHandlerSecmeliOgr"></GridEvents>
                <GridColumns>
                    <GridColumn Visible="false" Field=@nameof(DersKayitDto.Id) HeaderText="Ogrenci ID" IsPrimaryKey="true" TextAlign="TextAlign.Right"></GridColumn>
                    <GridColumn Field="Ogrenci.Ad" HeaderText="Ad"></GridColumn>
                    <GridColumn Field="Ogrenci.Soyad" HeaderText="Soyad"></GridColumn>
                    <GridColumn Field="Ogrenci.TCKN" HeaderText="TCKN"></GridColumn>
                    <GridColumn Field="Ogrenci.OgrNo" HeaderText="Öğrenci No"></GridColumn>
                    <GridColumn>
                        <GridCommandColumns>
                            <GridCommandColumn Type="CommandButtonType.None" Title="Ogrenciyi Ekle" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-Circle_Add", CssClass="e-flat" })"></GridCommandColumn>
                        </GridCommandColumns>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </Dialog>
}


<Dialog Baslik="Uyarı!" @bind-isDialogOpen="@isUyariOpen">
    <p>@dialogUyariText</p>
</Dialog>

@if (isMazeretConfirmDialogOpen)
{
    <MatDialog @bind-IsOpen="@isMazeretConfirmDialogOpen" Style="z-index:100">
        <MatDialogTitle><MatIcon Icon="warning"></MatIcon>@mazeretConfirmDialogTitle</MatDialogTitle>
        <MatDialogContent>
            Mazeret sınavi açmak üzeresiniz.
            <SfDatePicker ID="mazeretTarihi" @bind-Value="@mazeretTarihi" Placeholder="Mazeret Tarihini Giriniz..."></SfDatePicker>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@(e => { isMazeretConfirmDialogOpen = false; })">İptal</MatButton>
            <MatButton OnClick="@MazeretSinavOlustur">Oluştur</MatButton>
        </MatDialogActions>
    </MatDialog>
}




<style type="text/css" class="cssStyles">
    textarea.e-input,
    .e-float-input textarea,
    .e-float-input.e-control-wrapper textarea,
    .e-input-group textarea,
    .e-input-group.e-control-wrapper textarea {
        resize: none;
    }


    .server-action-menu {
        background-color: transparent;
        background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
        background-repeat: repeat;
        border-radius: 10px;
        padding: 5px;
    }

    .e-DoubleArrowDown:before {
        content: '\e7bf';
        color: #3ec9e8;
    }

    .e-Signature:before {
        content: '\e756';
        color: #80d192;
    }

    .e-Circle_Add:before {
        content: '\e755';
        color: #31ba13;
    }

    /*.e-grid .e-headercelldiv {
            font-size: 7px;
        }

        .e-grid .e-rowcell {
            font-size: 7px;
        } */

    .mdc-dialog .mdc-dialog__container {
        width: 100%;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: none;
        width: 70%;
    }




    .form-group {
        margin-bottom: 0.2rem;
    }

    input.e-input, .e-input-group input, .e-input-group.e-control-wrapper input, .e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input {
        height: auto;
    }

    .col-form-label-sm {
        padding-bottom: unset;
        font-size: 0.65rem;
        font-size: .775rem;
    }


    .row {
        margin-right: unset;
        margin-left: unset;
    }

    .card.tepe {
             flex-direction: unset;
    }
    .e-grid .e-altrow {
        background-color: #fafafa;
    }

</style>
