@page "/sube"

@using UniLife.Shared.Dto.Definitions
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Data
@inject AppState appState

@attribute [Authorize(Roles = "Administrator,Personel")]

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="server-action-menu">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>Dönem Dersleri</p>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-sm-12 col-md-12">
                    <div class="form-row">
                        @*açılan ders filtre*@
                        <label class="col-sm-2" for="DropDonem">Dönem:</label>
                        <SfDropDownList ID="DropDonem" @ref="DropDonem" TItem="DonemDto" CssClass="col-sm-10 pb-1"
                                        TValue="int?" PopupHeight="230px" Placeholder="Dönem Seçiniz"
                                        @bind-Value="@_dersAcilanDto.DonemId" DataSource="@donemDtos">
                            <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>
                        <label class="col-sm-2" for="DropFakulte">Fakülte:</label>
                        <SfDropDownList ID="DropFakulte" @ref="DropFakulte" ShowClearButton="true" TItem="KeyValueDto" CssClass="col-sm-10 pb-1"
                                        TValue="int?" PopupHeight="230px" Placeholder="Fakülte Seçiniz"
                                        @bind-Value="@_dersAcilanDto.FakulteId" DataSource="@fakulteDtos">
                            <DropDownListEvents TItem="KeyValueDto" TValue="int?" ValueChange="FakulteToBolum"></DropDownListEvents>
                            <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>
                        <label class="col-sm-2" for="DropBolum">Bolum:</label>
                        <SfDropDownList ID="DropBolum" @ref="DropBolum" ShowClearButton="true" TItem="KeyValueDto" CssClass="col-sm-10 pb-1"
                                        TValue="int?" PopupHeight="230px" Placeholder="Bölüm Seçiniz"
                                        @bind-Value="@_dersAcilanDto.BolumId" DataSource="@bolumDtos">
                            <DropDownListEvents TItem="KeyValueDto" TValue="int?" ValueChange="BolumToProgram"></DropDownListEvents>
                            <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>
                        <label class="col-sm-2" for="DropProgram">Program:</label>
                        <SfDropDownList ID="DropProgram" @ref="DropProgram" ShowClearButton="true" TItem="KeyValueDto" CssClass="col-sm-10 pb-1"
                                        TValue="int?" PopupHeight="230px" Placeholder="Program Seçiniz"
                                        @bind-Value="@_dersAcilanDto.ProgramId" DataSource="@programDtos">
                            <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>
                        <SfButton OnClick="Refresh" CssClass="e-success col-sm-3">Yenile</SfButton>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-row">

                        @*açılan ders grid*@
                        <SfGrid ID="DersAcGrid" @ref="DersAcGrid" DataSource="@DersAcDtos" RowHeight="20" AllowSorting="true" AllowSelection="true" AllowFiltering="true" AllowPaging="true" AllowExcelExport="true" AllowPdfExport="true">
                            @*OnRecordClick="OnRecordClickHandler" RowDeselected="RowDeselectedHandler" OnToolbarClick="ToolbarClickHandler" CommandClicked="CommandClickHandler" *@
                            <GridEvents RowSelected="RowSelectedHandler" TValue="SubeDersAcilanDto"></GridEvents>
                            <GridSelectionSettings EnableToggle="false" Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                            <GridColumns>
                                @*<GridColumn Visible="false" Field=@nameof(SubeDersAcilanDto.Id) HeaderText="Ders ID" IsIdentity="true" IsPrimaryKey="true" TextAlign="TextAlign.Left"></GridColumn>*@
                                <GridColumn AutoFit="true" Field=@nameof(SubeDersAcilanDto.Kod) HeaderText="Ders Kodu"></GridColumn>
                                <GridColumn Field=@nameof(SubeDersAcilanDto.Ad) HeaderText="Ders Adı"></GridColumn>
                                <GridColumn AutoFit="true" Field=@nameof(SubeDersAcilanDto.SubeCount) HeaderText="Şb Sayı"></GridColumn>
                                <GridColumn AutoFit="true" Field=@nameof(SubeDersAcilanDto.OgrCount) HeaderText="Ö.Sayı"></GridColumn>
                            </GridColumns>
                        </SfGrid>
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-sm-12 col-md-12">
                    <div class="form-row">
                        @*Şubelendirme seçenekleri*@
                        @if (SubelendirAllow)
                        {
                            <label class="col-sm-2" for="SSayi">Şube Sayısı:</label>
                            <SfNumericTextBox ID="SubeSayi" Min="1" Max="20" Format=n0 CssClass="form-control col-sm-2" @bind-Value=@(subeSayisi)></SfNumericTextBox>
                            <SfDropDownList ID="SubeType" @ref="SubeType" TItem="KeyValueDto" Index="0" CssClass="col-sm-5 pb-1"
                                            TValue="int" PopupHeight="230px"
                                            @bind-Value="@subelendirmeTipi" DataSource="@subeTypeDtos">
                                <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                            </SfDropDownList>
                            <SfButton OnClick="DersiSubelendir" CssClass="form-control e-warning col-sm-3">Şubelendir -></SfButton>
                        }
                        else
                        {

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="server-action-menu">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>Şubeler</p>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-12">
                    <div class="form-row">
                        @*Seçilen dersin muhtemel şubeleri grid *@

                        @*@if (SubelendirAllow)
                            {

                            }
                            else
                            {*@
                        <SfGrid ID="DersSubeGrid" @ref="DersSubeGrid" DataSource="@DersSubeDtos" RowHeight="20" AllowSorting="true" Toolbar="Toolbaritems">
                            @* OnRecordClick="OnRecordClickHandler" RowDeselected="RowDeselectedHandler" OnToolbarClick="ToolbarClickHandler"  *@
                            <GridEvents RowSelected="RowSelectedHandlerDersSube" OnToolbarClick="ToolbarClickHandler" TValue="DersAcilanDto" CommandClicked="CommandClickHandlerSube"></GridEvents>
                            <GridColumns>
                                <GridColumn Visible="false" Field=@nameof(DersAcilanDto.Id) HeaderText="Ders ID" IsIdentity="true" IsPrimaryKey="true" TextAlign="TextAlign.Left"></GridColumn>
                                <GridColumn AutoFit="true" Field=@nameof(DersAcilanDto.Sube) HeaderText="Şb"></GridColumn>
                                <GridColumn AutoFit="true" Field=@nameof(DersAcilanDto.Kod) HeaderText="Ders Kodu"></GridColumn>
                                <GridColumn Field=@nameof(DersAcilanDto.Ad) HeaderText="Ders Adı"></GridColumn>
                                <GridColumn AutoFit="true" Field=@nameof(DersAcilanDto.Kredi) HeaderText="Krd"></GridColumn>
                                <GridColumn AutoFit="true" Field=@nameof(DersAcilanDto.OgrCount) HeaderText="Ö.Sayı"></GridColumn>
                                <GridColumn Field="Akademisyen.Ad" HeaderText="Akademisyen"></GridColumn>
                                <GridColumn>
                                    <GridCommandColumns>
                                        <GridCommandColumn Type="CommandButtonType.None" Title="Öğretmen Ata" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-Resource", CssClass="e-flat" })"></GridCommandColumn>
                                    </GridCommandColumns>
                                </GridColumn>
                            </GridColumns>
                        </SfGrid>
                        @*}*@
                    </div>
                </div>
            </div>
        </div>
        <div class="server-action-menu">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>Şube öğrencileri</p>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-12">
                    @*OnActionBegin="OnActionBeginHandlerOgrenci"*@
                    <SfGrid ID="OgrenciGrid" @ref="OgrenciGrid" DataSource="@OgrenciDtos" Toolbar="@(new List<string>() { "Add"})" RowHeight="20" AllowSorting="true" AllowFiltering="true">
                        <GridEvents OnActionComplete="ActionCompletedHandlerOgrenci" TValue="OgrenciDto"></GridEvents>
                        <GridSelectionSettings CellSelectionMode="CellSelectionMode.BoxWithBorder" CheckboxOnly="true" Type="Syncfusion.Blazor.Grids.SelectionType.Multiple" PersistSelection="true"></GridSelectionSettings>
                        <GridColumns>
                            <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
                            <GridColumn Visible="false" Field=@nameof(OgrenciDto.Id) HeaderText="Ders ID" IsIdentity="true" IsPrimaryKey="true" TextAlign="TextAlign.Left"></GridColumn>
                            <GridColumn Field=@nameof(OgrenciDto.OgrNo) HeaderText="Öğr No"></GridColumn>
                            <GridColumn Field=@nameof(OgrenciDto.Ad) HeaderText="Ad"></GridColumn>
                            <GridColumn Field=@nameof(OgrenciDto.Soyad) HeaderText="Soyad"></GridColumn>
                            <GridColumn Field=@nameof(OgrenciDto.Sinif) HeaderText="Snf"></GridColumn>
                            <GridColumn Field=@nameof(OgrenciDto.ProgramAdi) HeaderText="Prog"></GridColumn>
                        </GridColumns>
                    </SfGrid>


                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <div class="form-row">
                        @if (IsStateSubelendir)
                        {
                            <SfButton OnClick="Onayla" CssClass="e-success col-sm-4">Şubelendirmeyi Onayla &#10004;</SfButton>
                        }
                        else
                        {
                            //Subelendirme bitmişi düzenle
                            <label class="col-sm-4" for="ogrSubeler">Seçilen Öğrenciyi</label>
                            <SfDropDownList ID="ogrSubeler" @ref="ogrSubeler" TItem="KeyValueStringDto" Index="0" CssClass="col-sm-2 pb-1"
                                            TValue="string" PopupHeight="230px" @bind-Value="@subeChangeNumber" DataSource="@OgrSubelerDto">
                                <DropDownListFieldSettings Text="Ad" Value="Id"></DropDownListFieldSettings>
                            </SfDropDownList>
                            <label class="col-sm-2" for="SubButton"> nolu </label>
                            <SfButton ID="SubButton" OnClick="SeciliOgrTasi" CssClass="form-control e-warning col-sm-4">Şubeye taşı</SfButton>

                        }
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>


<Dialog Baslik="Akademisyenler" @bind-isDialogOpen="@akademisyenDialogOpen">
    <div class="row">
        <SfGrid ID="AkademisyenGrid" @ref="AkademisyenGrid" TValue="AkademisyenDto" RowHeight="20" AllowSorting="true" AllowPaging="true" AllowFiltering="true">
            <SfDataManager Url="odata/akademisyens" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
            <GridEvents TValue="AkademisyenDto" CommandClicked="CommandClickHandlerAkademisyen"></GridEvents>
            <GridColumns>
                <GridColumn Visible="false" Field=@nameof(AkademisyenDto.Id) IsPrimaryKey="true" TextAlign="TextAlign.Right"></GridColumn>
                <GridColumn Field=@nameof(AkademisyenDto.Ad) HeaderText="Ad"></GridColumn>
                <GridColumn Field=@nameof(AkademisyenDto.Soyad) HeaderText="Soyad"></GridColumn>
                <GridColumn Field=@nameof(AkademisyenDto.TCKN) HeaderText="TCKN"></GridColumn>
                <GridColumn Field=@nameof(AkademisyenDto.AkaNo) HeaderText="Akademisyen No"></GridColumn>
                <GridColumn>
                    <GridCommandColumns>
                        <GridCommandColumn Type="CommandButtonType.None" Title="Akademisyen Ekle" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-Circle_Add", CssClass="e-flat" })"></GridCommandColumn>
                    </GridCommandColumns>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
</Dialog>


<Dialog Baslik="Uyarı!" @bind-isDialogOpen="@isUyariOpen">
    <p>@dialogUyariText</p>
</Dialog>

<style type="text/css" class="cssStyles">
    textarea.e-input,
    .e-float-input textarea,
    .e-float-input.e-control-wrapper textarea,
    .e-input-group textarea,
    .e-input-group.e-control-wrapper textarea {
        resize: none;
    }


    .server-action-menu {
        background-color: transparent;
        background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
        background-repeat: repeat;
        border-radius: 10px;
        padding: 5px;
    }

    .e-DoubleArrowRight:before {
        content: '\e7bb';
        color: #3ec9e8;
    }

    .e-Resource:before {
        content: '\e7d3';
        color: #31ba13;
    }


    .e-Circle_Add:before {
        content: '\e755';
        color: #31ba13;
    }

    /*.e-grid .e-headercelldiv {
        font-size: 7px;
    }

    .e-grid .e-rowcell {
        font-size: 7px;
    } */

    .mdc-dialog .mdc-dialog__container {
        width: 100%;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: none;
        width: 70%;
    }

    .e-grid .e-altrow {
        background-color: #fafafa;
    }
</style>
