@page "/OgrenciBelgesi/{ogrUserId:int}"

@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject HttpClient Http
@using UniLife.Shared.Dto.Definitions
@inject IMatToaster matToaster
@layout BelgeLayout
@attribute [Authorize]

<style>
    @@-ms-viewport {
        width: device-width;
    }

    /*A4Cozum 1*/
    body {
        height: 842px;
        width: 595px;
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;
        line-height: 2;
    }

    /*A4 Cozum2*/
    /*@@media print {
    body{
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm;*/
    /* change the margins as you want them to be. */
    /*}
    }*/

    .photo {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0,0,0,0.2);
    }

    .lblQE {
        font-size: xx-large;
    }

    .lblDE {
        font-size: xx-large;
    }

    @@media (min-width: 576px) {
        .form-inline label {
            justify-content: unset;
        }
    }

</style>

<div class="row">
    @*<img class="photo"  src="something.jpg" alt="" />*@
    <img style="width: 100%;" src="@UriHelper.ToAbsoluteUri($"/_content/UniLife.CommonUI/images/program/OgrBelHeader.png")" alt="" />
</div>
<br />
<br />
<div class="row">
    <div class="col-sm-9">
        <div class="form-row form-group form-inline ">
            <label class="col-sm-6 lblQE" for="TCKN">Vatandaşlık Numarası</label>
            <label id="TCKN" class="col-sm-6 lblDE">: @(_OgrenciBelgesiDto.TCKN)</label>

            <label class="col-sm-6 lblQE" for="OgrNo">Öğrenci Numarası</label>
            <label id="OgrNo" class="col-sm-6 lblDE">: @(_OgrenciBelgesiDto.OgrNo)</label>

            <label class="col-sm-6 lblQE" for="Ad">Adı Soyadı</label>
            <label id="Ad" class="col-sm-6 lblDE">: @(_OgrenciBelgesiDto.AdSoyad)</label>

            <label class="col-sm-6 lblQE" for="VatanNo">Baba Adı</label>
            <label class="col-sm-6 lblDE">: @(_OgrenciBelgesiDto.BabaAd)</label>

            <label class="col-sm-6 lblQE" for="VatanNo">Doğum Tarihi</label>
            <label class="col-sm-6 lblDE">: @(_OgrenciBelgesiDto.DogumTarih.ToString("yyyyMMdd"))</label>

            <label class="col-sm-6 lblQE" for="VatanNo">Doğum Yeri</label>
            <label class="col-sm-6 lblDE">: @(_OgrenciBelgesiDto.DogumYer)</label>

            <label class="col-sm-6 lblQE" for="VatanNo">Fakülte/Y.Okul/M.Y.O.</label>
            <label class="col-sm-6 lblDE">: @(_OgrenciBelgesiDto.FakulteAd)</label>

            <label class="col-sm-6 lblQE" for="VatanNo">Bölümü/Programı</label>
            <label class="col-sm-6 lblDE">: @(_OgrenciBelgesiDto.BolumAd)</label>

            <label class="col-sm-6 lblQE" for="VatanNo">Sınıfı</label>
            <label class="col-sm-6 lblDE">: @(_OgrenciBelgesiDto.Sinif)</label>

            <label class="col-sm-6 lblQE" for="VatanNo">Kayıt Tarihi</label>
            <label class="col-sm-6 lblDE">: @(_OgrenciBelgesiDto.KayitTarih.ToString("yyyMMdd"))</label>

            <label class="col-sm-6 lblQE" for="VatanNo">Kayıt Nedeni</label>
            <label class="col-sm-6 lblDE">: @(_OgrenciBelgesiDto.KayitNeden)</label>
        </div>
    </div>
    <div class="col-sm-3">
        <img style="width: 100%;" src="@UriHelper.ToAbsoluteUri($"/_content/UniLife.CommonUI/images/ogrenci/{_OgrenciBelgesiDto.AppUserId.ToString()}.png")" alt="" />
    </div>

</div>

@code{


    [Parameter]
    public int ogrUserId { get; set; }

    OgrenciBelgesiDto _OgrenciBelgesiDto = new OgrenciBelgesiDto();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ApiResponseDto<OgrenciBelgesiDto> apiResponse = await Http.GetFromJsonAsync<ApiResponseDto<OgrenciBelgesiDto>>("api/ogrenci/GetOgrenciBelgesi/" + ogrUserId);


            if (apiResponse.IsSuccessStatusCode)
            {
                _OgrenciBelgesiDto = apiResponse.Result;
            }
            else
            {
                matToaster.Add(apiResponse.Message, MatToastType.Danger, "İşlem başarısız!");
            }
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.GetBaseException().Message, MatToastType.Danger, "İşlem başarısız!");
        }
    }
}