@page "/ogrenciler"
@using Syncfusion.Blazor.Navigations
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

<ControlSection>

    <SfGrid AllowSorting="true" AllowFiltering="true" AllowPaging="true" DataSource="@GridData">
        <GridTemplates>
            <DetailTemplate>
                @{
                    var employee = (context as Employee);
                    var chartQuery = $"new sf.data.Query().where('EmployeeID', 'equal', {employee.EmployeeID}, false)";
                }
                <div style="padding:20px">
                    <SfTab>
                        <TabItems>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Details"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div style="display:inline-flex">
                                        <div style="float:left;padding:45px;padding-top:70px"><img class="photo" src="@UriHelper.ToAbsoluteUri($"https://blazor.syncfusion.com/demos/images/Grid/{employee.EmployeeID}.png")" alt="@employee.EmployeeID" /></div>
                                        <div style="padding-top:42px">
                                            <span style="font-size: x-large;font-weight: bold;">@employee.FirstName @employee.LastName</span><br />
                                            <h5 style="font-weight:400 !important;">@employee.Title</h5><br />
                                            <span class="title">Country:</span> <span class="content">@employee.Country</span><br />
                                            <span class="title">Postal Code:</span> <span class="content">@employee.PostalCode</span><br />
                                            <span class="title">Mail:</span> <span class="content ">@employee.Email</span>
                                        </div>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Sales"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    Burada elemanlar bir tane daha grid koymuş. düşünülebilir.
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Report"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    Burada Chart vardı öğrencinin devamsızlık vs tutulabilir. Şekil şş
                                </ContentTemplate>
                            </TabItem>
                        </TabItems>
                    </SfTab>
                </div>
            </DetailTemplate>
        </GridTemplates>
        <GridColumns>
            <GridColumn Field=@nameof(Employee.FirstName) HeaderText="First Name" Width="110"> </GridColumn>
            <GridColumn Field=@nameof(Employee.LastName) HeaderText="Last Name" Width="110"></GridColumn>
            <GridColumn Field=@nameof(Employee.Title) HeaderText="Title" Width="110"></GridColumn>
            <GridColumn Field=@nameof(Employee.Country) HeaderText="Country" Width="110"></GridColumn>
        </GridColumns>
    </SfGrid>

</ControlSection>